<div class="dialog">
  <div class="bg-[#fff] rounded-[12px_12px_0px_0px] p-4 text-center">
    <mat-icon class="text-[78px] confirme-icon text-[#FFC56C]"
      >warning</mat-icon
    >
    <p class="pt-3 pb-3">
      Etes vous sur de désaffecté l’intervention ?
    </p>
    <div class="example-button-row mt-3">
      <button mat-raised-button class="btn-annuler" mat-dialog-close>
        Abondonner
      </button>
      <button mat-raised-button class="btn-confirme" (click) = "action()">Confirmer</button>
    </div>
  </div>
</div>
