<div
  class="min-h-screen bg-gray-100 py-6 flex flex-col justify-center sm:py-12 bg-login"

  *ngIf="!spinner"
>
  <div class="relative py-3 w-11/12 max-w-xl sm:mx-auto">
    <div class="mb-6 flex justify-center">
      <!-- <img src="../../../../assets/img/logo-sdtm.png" /> -->
    </div>
    <div class="relative p-8 bg-white shadow-sm rounded-[29px_0px]">
      <h1 class="text-center font-bold pb-5 text-[22px]">
        Définir votre mot de passe
      </h1>
      <form
        class="w-full"
        [formGroup]="setPasswordForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="mb-5 relative flex flex-col gap-2">
          <p class="font-bold pl-2">Email</p>
          <input
            formControlName="email"
            (blur)="focus = false"
            (focus)="focus = true"
            class="peer pt-2 border border-gray-200 focus:outline-none rounded-[28px] focus:border-gray-500 focus:shadow-sm w-full p-3 h-16 placeholder-transparent"
            autocomplete="off"
          />
        </div>
        <div class="mb-5 relative flex flex-col gap-2">
          <p class="font-bold pl-2">Mot de passe</p>
          <input
            formControlName="new_paasword"
            placeholder="Password"
            (blur)="focus1 = false"
            (focus)="focus1 = true"
            type="password"
            id="new_paasword"
            class="peer pt-2 border border-gray-200 focus:outline-none rounded-[28px] focus:border-gray-500 focus:shadow-sm w-full p-3 h-16 placeholder-transparent"
            autocomplete="off"
          />
        </div>

        <div class="mb-5 relative flex flex-col gap-2">
          <p class="font-bold pl-2">Confirmer votre mot de passe</p>
          <input
            formControlName="confirm_password"
            (blur)="focus1 = false"
            (focus)="focus1 = true"
            type="password"
            class="peer pt-2 border border-gray-200 focus:outline-none rounded-[28px] focus:border-gray-500 focus:shadow-sm w-full p-3 h-16 placeholder-transparent"
            autocomplete="off"
          />
        </div>
        <ng-container>
          <button
            *ngIf="!isLoading"
            [disabled]="setPasswordForm.invalid"
            type="submit"
            name="action"
            [ngClass]="
              setPasswordForm.invalid
                ? 'w-full bg-[#B2ADAD] text-white p-3 rounded-md'
                : 'w-full text-white p-3 rounded-md bg-btn-green'
            "
          >
            Valider
          </button>
          <div *ngIf="isLoading" class="flex justify-center">
            <mat-spinner [diameter]="40"></mat-spinner>
          </div>
        </ng-container>
      </form>
    </div>
  </div>
</div>

<div *ngIf="spinner" class="flex justify-center items-center min-h-screen">
    <mat-spinner [diameter]="80"></mat-spinner>
  </div>
