<div
  class="bg-[#fff] shadow-[0px_3px_30px_#00000029] rounded-[20px] ml-6 mr-6 p-6 vehiculetabs">
  <div class="grid grid-cols-1 gap-2">
    <div class="flex">
      <mat-icon class="pt-[5px]">assignment</mat-icon>
      <h2 class="text-[#636363] font-semibold pl-2">
        Factures >
        <span class="text-[#0C8040] pl-2">Génération de facture</span>
      </h2>
    </div>
  </div>
  <form [formGroup]="prefacturationForm">
    <div class="grid grid-cols-4 gap-4">
      <div>
        <i-field [type]="'date'" [label]="'Date fin'" formControlName="startDate"></i-field>
      </div>
      <div>
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Activité</mat-label>
          <mat-select matNativeControl required  formControlName="activity">
            <mat-option value="Tout"> Tout </mat-option>
            <mat-option value="Afferetement"> Affrètement </mat-option>
            <mat-option value="Messagerie"> Messagerie</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <app-shared-autcomplete
        #searchComponent3
        [hasIcon]="false"
        [type]="'single'"
        [opended]="true"
        [contentStyle]="contentStyle"
        [inputStyle]="searchStyle"
        [charToGetAll]="'*'"
        [apiUrl]="apiUrl"
        [keys]="['code', 'name']"
        [lengthToStart]="3"
        [display]="['code','-', 'name']"
        [placeholer]="''"
        [label]="'Rechercher client...'"
        (dataEvent)="selectClient($event)"
      ></app-shared-autcomplete>
        <!-- <i-field [type]="'text'" [label]="'ID / Nom de client'" formControlName="customer"></i-field> -->
      </div>
      <div>
        <div class="flex items-start">
          <!-- <button (click)="onPrefacturation()"
            class="text-white btn-filter text-[17px] bg-btn-green max-w-[170px] w-[170px] p-3">
            <span class="text-white">Préfacturation</span>
          </button> -->
          <button
            (click)="onPrefacturation()"
            pButton pRipple
            type="submit"
            label="Préfacturation"
            class="p-button-rounded p-button-success">
          </button>
        </div>
      </div>
    </div>
  </form>

  <div *ngIf="prefacturation$ | async as factureState">
    <div *ngIf="factureState?.dataState =='Loading'" class="flex items-center justify-center mt-6">
      <mat-spinner [diameter]="80"></mat-spinner>
    </div>
    <div *ngIf="factureState?.dataState =='Success'">
      <p class="text-center pt-8 font-medium">
        Statut : <span class="text-[#D99006]">Préfacturation</span>
      </p>
    </div>
    <div class="flex justify-evenly mt-5">
      <div *ngIf="factureState?.prefacturation?.messagerie as messagerie">
        <div *ngIf="status!='Afferetement'"
        class="bg-[#F5FFF4] w-[387px] p-5 shadow-[0px_3px_20px_#00000019] border-[1px]border-[#CEF4C9] rounded-[18px]">
        <p class="text-[#0C8040] font-medium">Messagerie</p>
        <mat-list role="list" class="pt-6 list-statut">
          <mat-list-item class="p-0" role="listitem">
            Facture : <strong class="pl-2">{{(messagerie?.count_factures) ? messagerie.count_factures : 0}}</strong>
          </mat-list-item>
          <mat-list-item class="p-0" role="listitem">
            NBR de clients :<strong class="pl-2"> {{(messagerie?.count_clients) ? messagerie.count_clients : 0}}</strong></mat-list-item>
          <mat-list-item role="listitem">
            HT : <strong class="pl-2"> {{(messagerie?.ht) ? messagerie.ht : 0}} Dhs</strong>
          </mat-list-item>
          <mat-list-item role="listitem">
            TTC : <strong class="pl-2"> {{(messagerie?.ttc) ? messagerie.ttc : 0}} Dhs</strong>
          </mat-list-item>
        </mat-list>
        <div *ngIf="messagerie.count_factures && messagerie.count_factures>0"
          class="flex justify-center pt-1 cursor-pointer"
          (click)="getControlState(messagerie?.etat_control)">
          <mat-icon class="pt-[5px] text-[20px]">remove_red_eye</mat-icon>
          <h2 class="text-[#0C8040] font-normal text-[15px]">État de contrôle</h2>
        </div>
      </div>
      </div>
      <div *ngIf="factureState?.prefacturation?.affretement as affretement">
        <div *ngIf="status!='Messagerie'"
        class="bg-[#FFFFFF] w-[387px] p-5 shadow-[0px_3px_20px_#00000019] border-[1px]border-[#CEF4C9] rounded-[18px]">
        <p class="text-[#0C8040] font-medium">Affrètement</p>
        <mat-list role="list" class="pt-6 list-statut">
          <mat-list-item class="p-0" role="listitem">
            Facture : <strong class="pl-2">{{(affretement?.count_factures) ? affretement.count_factures : 0}}</strong>
          </mat-list-item>
          <mat-list-item class="p-0" role="listitem">
            NBR de clients : <strong class="pl-2">{{(affretement?.count_clients) ? affretement.count_clients : 0}}</strong>
          </mat-list-item>
          <mat-list-item role="listitem">
            HT :<strong class="pl-2">{{(affretement?.ht) ? affretement.ht : 0}} Dhs</strong>
          </mat-list-item>
          <mat-list-item role="listitem">
            TTC : <strong class="pl-2">{{(affretement?.ttc) ? affretement.ttc : 0}} Dhs</strong>
          </mat-list-item>
        </mat-list>
        <div *ngIf="affretement?.count_factures && affretement?.count_factures>0"
          class="flex justify-center pt-1 cursor-pointer"
          (click)="getAffretementControlState(affretement?.etat_control)">
          <mat-icon class="pt-[5px] text-[20px]">remove_red_eye</mat-icon>
          <h2 class="text-[#0C8040] font-normal text-[15px]">État de contrôle</h2>
        </div>
      </div>
      </div>

    </div>
    <div class="bg-[#F7F7F7] rounded-2xl mt-5 mr-auto ml-auto w-3/4 p-3">
      <p class="text-[#0C8040] font-medium text-center">Messagerie</p>
      <div class="flex justify-evenly mt-5">
        <div
          class="bg-white rounded-[50%] border-[#E8E8E8] border w-48 h-48 p-10">
          <p class="text-black font-bold text-center mt-5">
            Nbr des factures à générer
          </p>
          <p class="text-[#0C8040] font-bold text-center mt-5">400</p>
        </div>
        <div class="w-14 flex items-center text-[#BABABA]">
          <mat-icon class="text-5xl">arrow_right_alt</mat-icon>
        </div>
        <div
          class="bg-white rounded-[50%] border-[#E8E8E8] border w-48 h-48 p-10">
          <p class="text-black font-bold text-center mt-5">
            Nbr des factures à générer
          </p>
          <div class="flex justify-center mt-5">
            <p class="text-[#0C8040] font-bold text-center pr-5">350</p>
            <mat-icon class="text-[19px] text-[#FD8282]">warning</mat-icon>
            <p class="text-[#FD8282] font-normal text-[14px]">(50)</p>
          </div>
        </div>
        <div class="w-14 flex items-center text-[#BABABA]">
          <mat-icon class="text-5xl">arrow_right_alt</mat-icon>
        </div>
        <div
          class="bg-white rounded-[50%] border-[#E8E8E8] border w-48 h-48 p-10">
          <p class="text-black font-bold text-center mt-5">Factures éditées</p>
          <p class="text-[#0C8040] font-bold text-center mt-5">0</p>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-2 gap-4 mt-16 mb-5" *ngIf="factureState?.prefacturation as prefacturation ">
      <div>
        <button
          class="underline w-32 text-left mr-3 font-bold text-[18px] mt-3"
          (click)="onCancelPrefacturation()"
          mat-dialog-close>
          Annuler
        </button>
      </div>
      <div class="text-right">
        <button (click)="onGenerateFactures()"
          *ngIf="(prefacturation?.messagerie.count_factures && prefacturation?.messagerie.count_factures>0)
              || (prefacturation?.affretement?.count_factures && prefacturation?.affretement?.count_factures>0)"
          class="bg-[#0C8040] text-[#fff] border-[#0C8040] rounded-[28px] shadow-[0px_3px_6px_#00000029] w-40 p-4 ml-9font-bold text-[18px]"
          type="submit">
          Valider
        </button>
      </div>
    </div>
  </div>

</div>
