<div
  class="bg-[#fff] shadow-[0px_3px_30px_#00000029] rounded-[20px] ml-6 mr-6 p-6"
>
  <div class="grid grid-cols-2">
    <div>
      <h1 class="text-[#06152B] text-[22px] font-normal">
        Gestion des contacts
      </h1>
    </div>
    <div class="text-right">
      <div class="flex col-end-7 col-span-2 justify-end cursor-pointer" *ngIf="permissionService.hasPermission('Gestion commerciale', 'Contacts', 'C')">
        <mat-icon class="text-[#0C8040] pt-[5px]">add_circle</mat-icon>
        <h2 class="text-[#0C8040] font-normal pl-2 leading-[1.2]" (click)="openDialog()">
         Contact
        </h2>
      </div>
    </div>
  </div>

  <div class="grid">
    <app-shared-filter
      [inputs]="inputsFiler"
      [extraInputs]="extraInputsFilter"
      (filter)="filter($event)"
    ></app-shared-filter>
  </div>

  <div *ngIf="spinner" class="flex items-center justify-center mt-6 mb-6">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>

  <div class="overflow-x-auto relative mt-4" *ngIf="!spinner">
    <table class="w-full text-left text-gray-500">
      <thead>
        <tr>
          <th
            *ngFor="let header of headerColumuns"
            scope="col"
            class="p-3 text-[#0C8040] font-normal whitespace-nowrap"
          >
            <div class="flex items-center">
              {{ header }}
            </div>
          </th>
          <th
            scope="col"
            class="p-3 text-[#0C8040] font-normal whitespace-nowrap"
          >
            <div>Actions</div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="table-row bg-white whitespace-nowrap border-b border-gray-800"
          *ngFor="let item of contact"
        >
          <td class="p-3">{{ item.customer?.name }}</td>
          <td class="p-3">{{ item.last_name }}</td>
          <td class="p-3">{{ item.first_name }}</td>
          <td class="p-3">{{ item.fonction?.name }}</td>
          <td class="p-3">{{ item.departement?.name }}</td>
          <td class="p-3">{{ item.phone }}</td>
          <td class="p-3">{{ item.email }}</td>
          <td class="p-3">{{ item.fax }}</td>
          <td class="p-3 text-center cursor-pointer">
            <mat-icon mat-button [matMenuTriggerFor]="menu">more_vert</mat-icon>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="openDialogEdit(item)" *ngIf="permissionService.hasPermission('Gestion commerciale', 'Contacts', 'M')">
                <mat-icon>edit</mat-icon>
                Modifier
              </button>
              <button mat-menu-item (click)="deletTask(item.uuid)" *ngIf="permissionService.hasPermission('Gestion commerciale', 'Contacts', 'D')">
                <mat-icon>delete</mat-icon>
                Supprimer
              </button>
            </mat-menu>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="mt-10" *ngIf="ontact?.length > 0">
      <app-pagination
        [Links]="links"
        (getPage)="getTheNext($event)"
      ></app-pagination>
    </div>
  </div>
</div>
