<div class="dialog">
  <div class="grid grid-cols-3 gap-4 bg-[#E9E9E9] rounded-[12px_12px_0px_0px] p-4">
    <h2 mat-dialog-title class="col-span-2">Modifier</h2>
    <div class="text-right cursor-pointer" mat-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </div>
  </div>

  <ng-container >
    <div *ngIf="isLoading" class="flex items-center justify-center mt-6 mb-6">
      <mat-spinner [diameter]="50"></mat-spinner>
    </div>

    <ng-container *ngIf="!isLoading" >
      <div class="d-block mb-5 pl-4 pr-4 mt-5">
          <mat-radio-button value="CARBURANT" checked *ngIf="depense.type == 'CARBURANT'">Carburant</mat-radio-button>
          <mat-radio-button class="ml-2" value="AUTOROUTE" checked *ngIf="depense.type == 'AUTOROUTE'">Autoroute</mat-radio-button>
        <div class="text-center">
          <mat-icon class="text-[70px] text-[#0c8040]" *ngIf="depense.type == 'CARBURANT'">ev_station</mat-icon>
          <mat-icon class="text-[70px] text-[#0c8040]" *ngIf="depense.type == 'AUTOROUTE'">theaters</mat-icon>
        </div>
      </div>

      <div *ngIf="depense.type == 'CARBURANT'">
        <form [formGroup]="createCarburant">
          <div class="grid grid-cols-3 gap-3 pl-4 pr-4">
            <div>
              <app-shared-autcomplete
                #searchComponent3
                [hasIcon]="false"
                [type]="'single'"
                [opended]="true"
                [contentStyle]="contentStyle"
                [inputStyle]="searchStyle"
                [charToGetAll]="'*'"
                [data]="vehicules"
                [keys]="['code_interne', 'matricule']"
                [lengthToStart]="3"
                [display]="['code_interne', 'matricule']"
                [placeholer]="''"
                [label]="'Rechercher véhicule...'"
                (dataEvent)="truckSelected($event)">
              </app-shared-autcomplete>
            </div>
            <div>
              <mat-form-field appearance="fill" class="w-[100%] mb-4">
                <mat-label>Type de carte</mat-label>
                <!-- <input matInput type="text" autocomplete="off" formControlName="type_carte"/> -->
                <mat-select matNativeControl required formControlName="type_carte" (selectionChange)="typeCarte($event)">
                  <mat-option value="GAZOILE">GAZOILE</mat-option>
                  <mat-option value="EASY_ONE">EASY_ONE</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="fill" class="w-[100%] mb-4">
                <mat-label>N° de carte</mat-label>
                <mat-select matNativeControl required formControlName="carte_id" (selectionChange)="selectCardById($event)">
                  <mat-option *ngFor="let v of carte" [value]="v.id">
                  {{v.n_carte}}
                </mat-option>
                </mat-select>
                <!-- <input matInput type="text" autocomplete="off" formControlName="carte_id"/> -->
              </mat-form-field>
            </div>
            <div>
              <!-- <mat-form-field appearance="fill" class="w-[100%] mb-4">
                <mat-label>Quantité (L)</mat-label>
                <input
                  matInput
                  type="number"
                  autocomplete="off"
                  formControlName="quantite"
                />
              </mat-form-field> -->
              <i-field [type]="'number'" [label]="'Qté alimentée (L)'" formControlName="quantite"></i-field>
            </div>
            <div>
              <!-- <mat-form-field appearance="fill" class="w-[100%] mb-4">
                <mat-label>Montant (DH)</mat-label>
                <input
                  matInput
                  type="number"
                  autocomplete="off"
                  formControlName="montant"
                />
              </mat-form-field> -->
              <i-field [type]="'number'" [label]="'Montant (DH)'" formControlName="montant"></i-field>
            </div>
            <div>
              <mat-form-field appearance="fill" class="w-[100%] mb-4">
                <mat-label>Station</mat-label>
                <mat-select matNativeControl formControlName="station">
                  <mat-option value="Afriquia">Afriquia</mat-option>
                  <mat-option value="Shell">Shell</mat-option>
                  <mat-option value="Total">Total</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="fill" class="w-[100%] mb-4">
                <mat-label>Dernier Kilométrage</mat-label>
                <input matInput type="number" autocomplete="off" formControlName="old_km" />
              </mat-form-field>
              <!-- <i-field [type]="'number'" [label]="'Dernier Kilométrage'" formControlName="old_km" ></i-field> -->
            </div>
            <div>
              <!-- <mat-form-field appearance="fill" class="w-[100%] mb-4">
                <mat-label>Kilométrage en alimentation</mat-label>
                <input
                  matInput
                  type="number"
                  autocomplete="off"
                  formControlName="kilometrage"
                />
              </mat-form-field> -->
              <i-field [type]="'number'" [label]="'Kilométrage en alimentation'" formControlName="kilometrage"></i-field>
            </div>
            <div>
              <mat-label>Document</mat-label>
              <input #imgInput type="file" multiple accept="image/jpeg,image/png" (change)="onSelectImage($event)" />
            </div>
          </div>

          <div class="grid grid-cols-2 gap-4 mt-2 mb-2 p-4">
            <div>
              <button class="underline w-32 pt-2 mr-3 font-bold text-[18px]" mat-dialog-close>
                Abondonner
              </button>
            </div>
            <div class="text-right">
              <!-- <button
                *ngIf="!spinner"
                class="bg-[#0C8040] text-[#fff] border-[#0C8040] rounded-[28px] shadow-[0px_3px_6px_#00000029] w-32 p-4 mr-3 font-bold text-[18px]"
                (click)="add()"
              >
                Enregistrer
              </button> -->
              <button *ngIf="!spinner" (click)="updateDepense()" pButton pRipple type="button" label="Enregistrer"
                class="p-button-rounded p-button-success">
              </button>

              <span *ngIf="spinner">
                <mat-spinner [diameter]="40"></mat-spinner>
              </span>
            </div>
          </div>
        </form>
      </div>

      <div *ngIf="depense.type == 'AUTOROUTE'">
        <form [formGroup]="createAutoroute">
          <div class="grid grid-cols-3 gap-3 pl-4 pr-4">
            <div>
              <app-shared-autcomplete #searchComponent1 [hasIcon]="false" [type]="'single'" [opended]="true"
                [contentStyle]="contentStyle" [inputStyle]="searchStyle" [charToGetAll]="'*'" [data]="vehicules"
                [keys]="['code_interne', 'matricule']" [lengthToStart]="3" [display]="['code_interne', 'matricule']"
                [placeholer]="''" [label]="'Rechercher véhicule...'"
                (dataEvent)="truckSelected($event)"></app-shared-autcomplete>
            </div>
            <div>
              <mat-form-field appearance="fill" class="w-[100%] mb-4">
                <mat-label>Type de carte</mat-label>
                <mat-select matNativeControl formControlName="type_carte" (selectionChange)="typeCarte($event)">
                  <mat-option value="AUTOROUTE">AUTOROUTE</mat-option>
                  <mat-option value="JAWAZ">JAWAZ</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="fill" class="w-[100%] mb-4">
                <mat-label>{{type == 'AUTOROUTE' ? "N° de carte" : "N° de tag"}}</mat-label>
                <mat-select matNativeControl formControlName="carte_id" (selectionChange)="selectCardById($event)">
                  <mat-option *ngFor="let v of carte" [value]="v.id">
                  {{v.n_carte}}
                </mat-option>
                </mat-select>
                <!-- <input matInput type="text" autocomplete="off" formControlName="carte_id"/> -->
              </mat-form-field>
            </div>
            <!-- <div>

              <mat-form-field appearance="fill" class="w-[100%] mb-4">
                <mat-label>
                  {{ type == 'JAWAZ' ? "N° de tag" : "" }}
                  {{ type == 'AUTOROUTE' ? "N° de carte" : "" }}
                </mat-label>
                <mat-select matNativeControl required formControlName="carte_id" (selectionChange)="selectCardById($event)">
                  <mat-option *ngFor="let v of carte" [value]="v.id">{{ v.n_carte }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div> -->
            <div>
              <mat-form-field appearance="fill" class="w-[100%] mb-4">
                <mat-label>Montant (DH)</mat-label>
                <input matInput type="number" autocomplete="off" formControlName="montant" />
              </mat-form-field>
            </div>
            <div>
              <mat-label>Document</mat-label>
              <input #imgInput type="file" accept="image/jpeg,image/png" (change)="onSelectImage2($event)" />
            </div>
          </div>

          <div class="grid grid-cols-2 gap-4 mt-2 mb-2 p-4">
            <div>
              <button class="underline w-32 pt-2 mr-3 font-bold text-[18px]" mat-dialog-close>
                Abondonner
              </button>
            </div>
            <div class="text-right">
              <!-- <button
                *ngIf="!spinner"
                class="bg-[#0C8040] text-[#fff] border-[#0C8040] rounded-[28px] shadow-[0px_3px_6px_#00000029] w-32 p-4 mr-3 font-bold text-[18px]"
                (click)="add()"
              >
                Enregistrer
              </button> -->
              <button *ngIf="!spinner" (click)="updateDepense()" pButton pRipple type="button" label="Enregistrer"
                class="p-button-rounded p-button-success">
              </button>

              <span *ngIf="spinner">
                <mat-spinner [diameter]="40"></mat-spinner>
              </span>
            </div>
          </div>
        </form>
      </div>
    </ng-container>

</ng-container>

  <!-- <div class="grid grid-cols-2 gap-4 mt-2 mb-2 p-4">
    <div>
      <button
        class="underline w-32 p-4 mr-3 font-bold text-[18px]"
        mat-dialog-close
      >
        Annuler
      </button>
    </div>
    <div class="text-right">
      <button
        *ngIf="!spinner"
        class="bg-[#0C8040] text-[#fff] border-[#0C8040] rounded-[28px] shadow-[0px_3px_6px_#00000029] w-32 p-4 mr-3 font-bold text-[18px]"
        (click)="add()"
      >
        Creer
      </button>

      <span *ngIf="spinner">
        <mat-spinner [diameter]="40"></mat-spinner>
      </span>
    </div>
  </div> -->
</div>
