<div class="dialog">
  <div
    class="grid grid-cols-3 gap-4 bg-[#E9E9E9] rounded-[12px_12px_0px_0px] p-4"
  >
    <h2 mat-dialog-title class="col-span-2">Détails template</h2>
    <div class="text-right cursor-pointer" mat-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </div>
  </div>

<div class="p-4">
    <h1 class="text-[#06152B] text-[22px] font-normal">
      Valeur TVA
    </h1>
    <form [formGroup]="TaxeEdit">
      <div class="grid grid-cols-4 gap-4">
        <div class="pl-0 mt-4 pr-7 mb-4">
          <i-field [type]="'number'" [label]="'TVA'" formControlName="valeur" ></i-field>
          <!-- <mat-form-field appearance="fill" class="w-[100%] pl-0 mt-4 pr-7 mb-4">
            <mat-label>TVA</mat-label>
            <input matInput formControlName="valeur" autocomplete="off" type="text" required/>
          </mat-form-field> -->
        </div>
      </div>
  
      <div class="flex justify-end">
        <!-- <button
          class="cursor-pointer bg-[#0C8040] text-[#fff] border-[#0C8040] rounded-[28px] shadow-[0px_3px_6px_#00000029] w-32 p-4 mr-3 font-bold text-[18px]"
          type="submit" [disabled]="TaxeEdit.invalid" *ngIf="!spinner" (click)="confirmBox()"
        >
          Enregistrer
        </button> -->
        <button [disabled]="TaxeEdit.invalid" *ngIf="!spinner" (click)="confirmBox()" pButton pRipple type="submit" label="Enregistrer" class="p-button-rounded p-button-success"></button>
      </div>

      <span *ngIf="spinner">
        <mat-spinner [diameter]="40"></mat-spinner>
      </span>
    </form>
  </div>
</div>
