<div
  class="bg-[#fff] shadow-[0px_3px_30px_#00000029] rounded-[20px] ml-6 mr-6 p-6 vehiculetabs">
  <div class="grid grid-cols-1 gap-2">
    <div class="flex">
      <mat-icon class="pt-[5px]">assignment</mat-icon>
      <h2 class="text-[#636363] font-semibold pl-2">
        Factures > <span class="text-[#0C8040] pl-2">Visualisation détaillée</span>
      </h2>
    </div>
  </div>
  <div *ngIf="bill$ | async as factureState">
    <div  *ngIf="factureState?.dataState =='Loading'" class="flex items-center justify-center mt-6">
      <mat-spinner [diameter]="80"></mat-spinner>
    </div>
    <div *ngIf="factureState?.facture && factureState?.dataState =='Success'">
      <div class="grid grid-cols-4 gap-4 mb-3">
        <div>
          <div class="w-full" #myComponent>
            <div class="relative">
                <span  class="label show-label">ID / Nom de client:</span>
                <input type="text" class="input block w-full p-2 border-[#DBDBDB]" [value]="factureState?.facture?.customer?.name || '---'"  readonly/>
            </div>
          </div>
        </div>
        <div>
          <div class="w-full" #myComponent>
            <div class="relative">
                <span  class="label show-label">Numéro d'envoie:</span>
                <input type="text" class="input block w-full p-2 border-[#DBDBDB]" [value]="factureState?.facture?.reference || '---'"  readonly/>
            </div>
          </div>
        </div>
        <div>
          <div class="w-full" #myComponent>
            <div class="relative">
                <span  class="label show-label">Période:</span>
                <input type="text" class="input block w-full p-2 border-[#DBDBDB]"
                value=" Du {{(factureState?.facture?.start_date | date :'dd/MM/yyyy' || '---')}} - Au {{(factureState?.facture?.end_date | date :'dd/MM/yyyy' || '---')}}"  readonly/>
            </div>
          </div>
        </div>
      </div>
      <ng-container *ngIf="factureState?.facture?.demandes?.length>0">
        <table class="w-full text-left text-gray-500 block overflow-auto">
          <thead>
            <tr>
              <th
                *ngFor="let header of headerColumuns"
                scope="col"
                class="p-3 text-[#0C8040] font-normal whitespace-nowrap">
                <div class="flex items-center">
                  {{ header }}
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="table-row bg-white whitespace-nowrap border-b border-gray-800"
              *ngFor="let expedition of factureState?.facture?.demandes">
              <td class="p-3">{{(expedition?.created_at | date :'dd/MM/yyyy' || '---')}}</td>
              <td class="p-3">{{(expedition?.reference) ? expedition?.reference : '---'}}</td>
              <td class="p-3">{{factureState?.facture?.customer?.name || '---'}}</td>
              <td class="p-3">{{expedition?.destinations.join(',') || '---'}}</td>
              <td class="p-3">{{expedition?.destinataires.join(',') || '---'}}</td>
              <td class="p-3">{{expedition?.camions.name || '---'}}</td>
              <td class="p-3">{{expedition?.marchandise_globale?.nbr_palette || 0}}</td>
              <td class="p-3">{{expedition?.marchandise_globale.poids || 0}}</td>
              <td class="p-3">{{expedition?.marchandise_globale.valeur_declare || 0}}</td>
              <td class="p-3">{{expedition?.documents_fonds?.Fonds || 0}}</td>
              <td class="p-3">{{expedition?.documents_fonds?.BL || 0}}</td>
              <td class="p-3">{{expedition?.documents_fonds?.Facture || 0}}</td>
              <td class="p-3">{{(expedition?.marchandise_globale.port.title) ? (expedition?.marchandise_globale.port.title) : '---' }}</td>
              <td class="p-3">{{(expedition?.tarifs.ht  | number) || 0}}</td>
              <td class="p-3">{{(expedition?.tarifs.ht_transport | number )|| 0}}</td>
              <td class="p-3">{{(expedition?.tarifs.ht_service  | number) || 0}}</td>
              <td class="p-3">{{(expedition?.tarifs.tva_transport | number) || 0}}</td>
              <td class="p-3">{{(expedition?.tarifs.tva_service  | number) || 0}}</td>
              <td class="p-3">{{(expedition?.tarifs.ttc | number) || 0}}</td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </div>
  </div>
</div>
