<div class="p-4">
  <div class="grid grid-cols-2">
    <div>
      <h1 class="text-[#06152B] text-[22px] font-normal">
        Consommation véhicule
      </h1>
    </div>
    <div class="text-right">
      <div class="flex col-end-7 col-span-2 justify-end cursor-pointer" (click)="openDialogAjouter()" *ngIf="permissionService.hasPermission('Configuration', 'Paramètre', 'C')">
        <mat-icon class="text-[#0C8040] pt-[5px]">add_circle</mat-icon>
        <h2 class="text-[#0C8040] font-normal pl-2 leading-[1.2]">Ajouter</h2>
      </div>
    </div>
  </div>
  <!-- filter -->
  <div class="grid grid-cols-5 gap-1 mb-6 mt-5">
    <select class="p-3 pr-12 mx-2 border rounded-3xl border-[#DBDBDB]" placeholder="Marque">
      <option value="Marque">Marque</option>
    </select>
    <select class="p-3 pr-12 mx-2 border rounded-3xl border-[#DBDBDB]" placeholder="Modèle">
      <option value="Marque">Modèle</option>
    </select>
    <select class="p-3 pr-12 mx-2 border rounded-3xl border-[#DBDBDB]" placeholder="Marque">
      <option value="Marque">Tournage</option>
    </select>
    <input type="text" class="p-3 pr-12 mx-2 border rounded-3xl border-[#DBDBDB]"
      placeholder="% de consommation théorique" />
    <button mat-button class="text-white p-3 bg-btn-green text-[18px] w-[50%]">
      <mat-icon class="mr-3">filter_list</mat-icon>
      <span class="text-white">Filtre</span>
    </button>
  </div>
  <!-- filter -->
  <ng-container>
    <table class="w-full text-left text-gray-500">
      <thead>
        <tr>
          <th *ngFor="let header of headerColumuns" scope="col"
            class="p-3 text-[#0C8040] font-normal whitespace-nowrap">
            <div class="flex items-center">
              {{ header }}
            </div>
          </th>
          <th scope="col" class="p-3 text-[#0C8040] font-normal whitespace-nowrap">
            <div class="flex justify-end">Actions</div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-row bg-white whitespace-nowrap border-b border-gray-800"
          *ngFor="let item of [0, 1, 2]  | paginate : {id: 'pagination-nature_product', itemsPerPage: 6, currentPage: page}">
          <td class="p-3">Item</td>
          <td class="p-3">vvv</td>
          <td class="p-3">vvv</td>
          <td class="p-3">vvv</td>
          <td class="p-3 text-right cursor-pointer">
            <mat-icon mat-button [matMenuTriggerFor]="menu">more_vert</mat-icon>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>Modification</button>
              <button mat-menu-item>Supprimer</button>
            </mat-menu>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</div>
