<div
  class="bg-[#fff] shadow-[0px_3px_30px_#00000029] rounded-[20px] ml-6 mr-6 p-6"
>
  <div class="grid grid-cols-2 gap-2">
    <div>
      <div class="flex col-start-1 col-end-3">
        <mat-icon class="pt-1">view_stream</mat-icon>
        <h2 class="text-[#636363] font-semibold pl-2">
          Liste des cartes >
          <span class="text-[#0C8040]">Mouvement de la carte</span>
        </h2>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-2 gap-4 mt-5">
    <div *ngIf="spinnerAli" class="flex items-center justify-center mt-6 mb-6">
      <mat-spinner [diameter]="50"></mat-spinner>
    </div>

    <div *ngIf="!spinnerAli" class="bg-[#FFFFFF] shadow-[0px_3px_10px_#00000014] border-[3px] border-[#DBDBDB] rounded-[18px] p-5">
      <div class="grid grid-cols-2 gap-2">
        <div class="flex justify-between">
          <div class="flex">
            <h2 class="text-[#000] font-semibold pr-2">Alimentation</h2>
            <mat-icon class="pt-1 text-[#0C8040]">arrow_upward</mat-icon>
          </div>
        </div>

        <div class="flex justify-end">
          <div class="flex cursor-pointer mr-4">
            <mat-icon class="pt-[5px]">cloud_download</mat-icon>
            <h2 class="text-[#0C8040] font-semibold pl-2" (click)="exportExcelAlimentation()">Exporter</h2>
          </div>
        </div>
      </div>

      <!-- <div class="flex col-start-1 col-end-3">
        <h2 class="text-[#000] font-semibold pr-2">Alimentation</h2>
        <mat-icon class="pt-1 text-[#0C8040]">arrow_upward</mat-icon>
      </div> -->
      <table
        class="w-full text-left text-gray-500 d-block overflow-auto"
        style="display: block"
      >
        <thead>
          <tr>
            <th
              *ngFor="let header of headerColumuns"
              scope="col"
              class="p-3 text-[#0C8040] font-normal whitespace-nowrap"
            >
              <div class="flex items-center">
                {{ header }}
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="table-row bg-white whitespace-nowrap border-b border-gray-800"
            *ngFor="let item of alimentations"
          >
            <td class="p-3">{{ item.created_at | date: "dd/MM/yyyy" }}</td>
            <td class="p-3">{{ formatNumber(item.montant) }} DH</td>
            <td class="p-3">{{ item.carte?.libelle || '---' }}</td>
            <td class="p-3">{{ item.carte?.prestataire?.name || '---'}}</td>
            <td class="p-3">{{ item.carte?.service?.name || '---'}}</td>
            <td class="p-3">
              <div>
                <a *ngIf="item?.images['0']" href="{{ url + item?.id + '/' }}{{ item?.images['0'].images }} " target="_blank">
                  <mat-icon>file_copy</mat-icon>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div
      *ngIf="spinnerConso"
      class="flex items-center justify-center mt-6 mb-6"
    >
      <mat-spinner [diameter]="50"></mat-spinner>
    </div>

    <div *ngIf="!spinnerConso" class="bg-[#FFFFFF] shadow-[0px_3px_10px_#00000014] border-[3px] border-[#DBDBDB] rounded-[18px] p-5" >
      <div class="grid grid-cols-2 gap-2">
        <div class="flex justify-between">
          <div class="flex">
            <h2 class="text-[#000] font-semibold pr-2">Consommation</h2>
            <mat-icon class="pt-1 text-[#E10000]">arrow_downward</mat-icon>
          </div>
        </div>

        <div class="flex justify-end">
          <div class="flex cursor-pointer mr-4">
            <mat-icon class="pt-[5px]">cloud_download</mat-icon>
            <h2 class="text-[#0C8040] font-semibold pl-2" (click)="exportExcelConsommation()">Exporter</h2>
          </div>
        </div>
      </div>

      <!-- <div class="flex col-start-1 col-end-3">
        <h2 class="text-[#000] font-semibold pr-2">Consommation</h2>
        <mat-icon class="pt-1 text-[#E10000]">arrow_downward</mat-icon>
      </div> -->
      <table class="w-full text-left text-gray-500">
        <thead>
          <tr>
            <th
              *ngFor="let header of headerConsommation"
              scope="col"
              class="p-3 text-[#0C8040] font-normal whitespace-nowrap"
            >
              <div class="flex items-center">
                {{ header }}
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="table-row bg-white whitespace-nowrap border-b border-gray-800"
            *ngFor="let item of consommations"
          >
            <td class="p-3">{{ item.created_at | date: "dd/MM/yyyy" }}</td>
            <td class="p-3">{{ item.quantite }} L</td>
            <td class="p-3">{{ formatNumber(item.montant) }} DH</td>
            <td class="p-3">{{ item.truck?.matricule }}</td>
            <td class="p-3">
              <div>
                <a *ngIf="item?.images['0']" href="{{ url + item?.id + '/' }}{{ item?.images['0'].images }} " target="_blank">
                  <mat-icon>file_copy</mat-icon>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
