<div class="dialog">
    <div class="grid grid-cols-3 gap-4 bg-[#E9E9E9] rounded-[12px_12px_0px_0px] p-4">
      <h2 mat-dialog-title class="col-span-2">Voir Bordereau de versement</h2>
      <div class="text-right cursor-pointer" mat-button mat-dialog-close>
        <mat-icon>close</mat-icon>
      </div>
    </div>
    <div mat-dialog-content class="dialog-carte">
        <div class="relative tabs-utilisateur">
            <div class="mt-7">
                <img src="../../../../../assets/img/Kawasaki.jpg" class="mb-3 rounded-xl" />   
            </div>
          </div>
    </div>
    <div class="grid grid-cols-2 gap-4 mt-2 mb-2 p-4">
      <div>
        <button mat-dialog-close class="underline w-32 p-4 mr-3 font-bold text-[18px]">
            Fermer
        </button>
      </div>
      <!-- <div class="text-right">
            <button type="submit"
              class="bg-[#0C8040] text-[#fff] border-[#0C8040] rounded-[28px] shadow-[0px_3px_6px_#00000029] w-32 p-4 mr-3 font-bold text-[18px]">
              Receptionner
            </button>
        </div> -->
    </div>
  </div>
  