<div
  class="bg-[#fff] shadow-[0px_3px_30px_#00000029] rounded-[20px] ml-6 mr-6 p-6 h-full"
>
  <div class="grid grid-cols-1 gap-2 mb-4">
    <div>
      <div class="flex col-start-1 col-end-3">
        <mat-icon class="pt-1">description</mat-icon>
        <h2 class="text-[#0C8040] font-semibold pl-2">Type rendez-vous</h2>
      </div>
      <!-- <div *ngIf="!spinner">
          <h2 class="text-[#0C8040] font-semibold pl-2">
            Nbr de véhicules total :
            <span class="text-[#000]">{{ formatNumber(result.vehicules) }}</span>
          </h2>
        </div> -->
    </div>
  </div>

  <div *ngIf="spinner" class="flex items-center justify-center mt-6 mb-6">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div> 

  <div *ngIf="!spinner">
    <!-- <div class="mt-36 text-center" *ngIf="types.length == 0 ">
      <p class="text-[#636363] text-[22px]">La liste des types de rendez-vous est vide</p>
    </div> -->

    <div class="grid grid-cols-2 gap-5">
      <div class="bg-white shadow-[0px_3px_20px_#00000029] rounded-[18px]">
        <p class="bg-[#32508C] shadow-[0px_3px_20px_#00000029] text-white font-medium rounded-[18px_18px_0px_0px] p-3">
          Type de rendez-vous
        </p>
        <div class="grid grid-cols-1 gap-3 pt-3 pl-3 pr-3 pb-0">
          <div class="max-h-40 h-40 overflow-auto">
            <div *ngFor="let item of types">
              <div class="grid grid-cols-2 gap-3 pt-3 pl-3 pr-3 pb-0">
                <div>
                  <p class="text-[#636363]">{{ item.libelle }}</p>
                </div>
                <div class="p-3 text-right cursor-pointer">
                  <mat-icon mat-button [matMenuTriggerFor]="menu">more_vert</mat-icon>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="addDialog(item, 'edit')">
                      <mat-icon>edit</mat-icon>
                      Modifier
                    </button>
                    <button mat-menu-item (click)="delet(item.uuid)">
                      <mat-icon>delete</mat-icon>
                      Supprimer
                    </button>
                  </mat-menu>
                </div>
              </div>
            </div>
          </div>
          <div class="border-t-2 border-[#00000029]"></div>
          <div class="flex cursor-pointer justify-center">
            <mat-icon class="pt-[5px] text-[20px]">remove_red_eye</mat-icon>
            <h2 class="font-semibold text-size mb-detail" (click)="addDialog()" >
              Ajouter un type
            </h2>
          </div>
        </div>
      </div>

      <div class="bg-white shadow-[0px_3px_20px_#00000029] rounded-[18px]">
        <p class="bg-[#D9674E] shadow-[0px_3px_20px_#00000029] text-white font-medium rounded-[18px_18px_0px_0px] p-3">
          Motif de refus
        </p>
        <div class="grid grid-cols-1 gap-3 pt-3 pl-3 pr-3 pb-0">
          <div class="max-h-40 h-40 overflow-auto">
            <div *ngFor="let item of motifs">
              <div class="grid grid-cols-2 gap-3 pt-3 pl-3 pr-3 pb-0">
                <div>
                  <p class="text-[#636363]">{{ item.name }}</p>
                </div>
                <div class="p-3 text-right cursor-pointer">
                  <mat-icon mat-button [matMenuTriggerFor]="menu">more_vert</mat-icon>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="addDialogMotif(item, 'edit')">
                      <mat-icon>edit</mat-icon>
                      Modifier
                    </button>
                    <button mat-menu-item (click)="deletMotif(item.uuid)">
                      <mat-icon>delete</mat-icon>
                      Supprimer
                    </button>
                  </mat-menu>
                </div>
              </div>
            </div>
          </div>
          <div class="border-t-2 border-[#00000029]"></div>
          <div class="flex cursor-pointer justify-center">
            <mat-icon class="pt-[5px] text-[20px]">remove_red_eye</mat-icon>
            <h2 class="font-semibold text-size mb-detail" (click)="addDialogMotif()" >
              Ajouter un motif de refus
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

