<div class="bg-[#fff] shadow-[0px_3px_30px_#00000029] rounded-[20px] ml-6 mr-6 p-6">
  <div class="grid grid-cols-2 gap-2">
    <div>
      <div class="flex col-start-1 col-end-3">
        <mat-icon>swap_calls</mat-icon>
        <h2 class="text-[#0C8040] font-semibold pl-2">
          Fournisseur
        </h2>
      </div>
    </div>
  </div>

  <div class="mt-10">
    <ng-container>
      <div
        class="flex flex-row justify-between pl-3 pr-3 bg-white mb-5 shadow-[0px_3px_20px_#00000029] rounded-[18px] h-[104px]"
        *ngFor=" let item of prestatires | paginate: { itemsPerPage: 6, currentPage: p } ">
        <div class="flex width-content">
          <div class="flex items-center">
            <div class="icon ml-2">
              <mat-icon class="text-[19px] text-[#138742]">date_range</mat-icon>
            </div>
            <div class="pl-3">
              <p class="text-[#b5b5b5] text-[10px]">Date :</p>
              <p class="text-[12px] text-[#000000]">{{ item.date }}</p>
            </div>
          </div>
        </div>
        <mat-divider [vertical]="true" class="mx-auto"></mat-divider>
        <div class="flex width-content mt-3">
          <div class="flex items-center">
            <div class="icon ml-2">
              <mat-icon class="text-[19px] text-[#138742]">subtitles</mat-icon>
            </div>
            <div class="pl-3">
              <p class="text-[#b5b5b5] text-[10px]">Fournisseur :</p>
              <p class="text-[12px] text-[#000000]">{{ item.name }}</p>
            </div>
          </div>
        </div>
        <mat-divider [vertical]="true" class="mx-auto"></mat-divider>
        <div class="block width-content mt-3">
          <div class="flex items-center">
            <div class="icon ml-2">
              <mat-icon class="text-[19px] text-[#138742]">alarm</mat-icon>
            </div>
            <div class="pl-3">
              <p class="text-[#b5b5b5] text-[10px]">GSM sociéte :</p>
              <p class="text-[12px] text-[#000000]">{{ item.gsm_socite }}</p>
            </div>
          </div>
          <div class="flex">
            <div class="flex items-center">
              <div class="icon ml-2">
                <mat-icon class="text-[19px] text-[#138742]">alarm</mat-icon>
              </div>
              <div class="pl-3">
                <p class="text-[#b5b5b5] text-[10px]">E-mail société :</p>
                <p class="text-[12px] text-[#000000]">{{ item.mail_societe }}</p>
              </div>
            </div>
          </div>
        </div>
        <mat-divider [vertical]="true" class="mx-auto"></mat-divider>
        <div class="block width-content mt-3">
          <div class="flex items-center">
            <div class="icon ml-2">
              <mat-icon class="text-[19px] text-[#138742]">date_range</mat-icon>
            </div>
            <div class="pl-3">
              <p class="text-[#b5b5b5] text-[10px]">Fixe :</p>
              <p class="text-[12px] text-[#000000]">{{ item.fix }}</p>
            </div>
          </div>
          <div class="flex">
            <div class="flex items-center">
              <div class="icon ml-2">
                <mat-icon class="text-[19px] text-[#138742]">date_range</mat-icon>
              </div>
              <div class="pl-3">
                <p class="text-[#b5b5b5] text-[10px]">Adresse Siége :</p>
                <p class="text-[12px] text-[#000000]">{{ item.adresse }}</p>
              </div>
            </div>
          </div>
        </div>
        <mat-divider [vertical]="true" class="mx-auto"></mat-divider>
        <!-- <div class="flex width-content mt-3">
          <div class="flex items-center">
            <div class="icon ml-2">
              <mat-icon class="text-[19px] text-[#138742]">subtitles</mat-icon>
            </div>
            <div class="pl-3">
              <p class="text-[#b5b5b5] text-[10px]">Contact :</p>
              <p class="text-[12px] text-[#000000]">{{ item.contact }}</p>
            </div>
          </div>
          <div class="flex">
            <div class="flex items-center">
              <div class="icon ml-2">
                <mat-icon class="text-[19px] text-[#138742]">date_range</mat-icon>
              </div>
              <div class="pl-3">
                <p class="text-[#b5b5b5] text-[10px]">Logo :</p>
                <div>
                  <a *ngIf="item.file" href="{{ url + item.id + '/' }}{{ item.file }} " target="_blank">
                    <mat-icon>file_copy</mat-icon>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <div class="block width-content mt-3">
          <div class="flex items-center">
            <div class="icon ml-2">
              <mat-icon class="text-[19px] text-[#138742]">date_range</mat-icon>
            </div>
            <div class="pl-3">
              <p class="text-[#b5b5b5] text-[10px]">Contact :</p>
              <p class="text-[12px] text-[#000000]">{{ item.contact }}</p>
            </div>
          </div>
          <div class="flex">
            <div class="flex items-center">
              <div class="icon ml-2">
                <mat-icon class="text-[19px] text-[#138742]">date_range</mat-icon>
              </div>
              <div class="pl-3">
                <p class="text-[#b5b5b5] text-[10px]">Logo :</p>
                <div>
                  <a *ngIf="item.file" href="{{ url + item.id + '/' }}{{ item.file }} " target="_blank">
                    <mat-icon>file_copy</mat-icon>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <mat-divider [vertical]="true" class="mx-auto"></mat-divider>
        <div class="block width-content mt-3">
          <div class="flex items-center">
            <div class="icon ml-2">
              <mat-icon class="text-[19px] text-[#138742]">date_range</mat-icon>
            </div>
            <div class="pl-3">
              <p class="text-[#b5b5b5] text-[10px]">GSM Contact :</p>
              <p class="text-[12px] text-[#000000]">{{ item.gsm_contact }}</p>
            </div>
          </div>
          <div class="flex">
            <div class="flex items-center">
              <div class="icon ml-2">
                <mat-icon class="text-[19px] text-[#138742]">date_range</mat-icon>
              </div>
              <div class="pl-3">
                <p class="text-[#b5b5b5] text-[10px]">E-mail contact :</p>
                <p class="text-[12px] text-[#000000]">{{ item.mail_contact }}</p>
              </div>
            </div>
          </div>
        </div>
        <mat-divider [vertical]="true" class="mx-auto"></mat-divider>
        <div class="p-3 text-center cursor-pointer flex items-center">
          <mat-icon mat-button [matMenuTriggerFor]="menu">more_vert</mat-icon>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="addDialog(type, 'edit', item)">
              <mat-icon>edit</mat-icon>
              Modifier
            </button>
            <button mat-menu-item (click)="delet(item.uuid)">
              <mat-icon>delete</mat-icon>
              Supprimer
            </button>
          </mat-menu>
        </div>
      </div>
    </ng-container>
    <!-- <div class="mt-10">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div> -->
  </div>
</div>
