
::ng-deep .mat-form-field-wrapper{
    padding: 0px;
  }
  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex{
    background-color: #fff;
  }
  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline::before{
    display: none !important;
  }
  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-ripple{
    display: none !important;
  }
   /* ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex{
    border: 3px solid #DBDBDB;
    border-radius: 28px !important;
  } */
  tr:nth-child(even) {
    background-color: #F2FCF1;
  }
  ::ng-deep .ngx-pagination .current {
    background: #0C8040 !important;
}
::ng-deep mat-divider {
  height: 70%;
  margin: auto !important;
}
.btn-filter{
  padding: 10px !important;
}
.width-check {
  width: 3%;
  text-align: center;
}

.width-content {
  width: 25%
}
::ng-deep .ngx-pagination .current {
  background: #0C8040 !important;
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #0C8040 ;
}
::ng-deep .btn-details{
  border: 1px solid #636363;
border-radius: 21px;
}
::ng-deep .text-white{
  color: white;
}