<ng-container *ngIf="reservationData$ | async as data">

  <div
  class="bg-[#F5FCF8] shadow-[0px_3px_10px_#00000029] border-[2px] border-[#E3E3E3] rounded-[18px] pl-6 pr-6 pb-6 pt-0 ml-5 mr-5 mt-5">
  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="border-b-2 border-[#0C8040] mt-5">
            <p class="bg-[#0C8040] text-[#fff] w-56 p-2 rounded-[12px_12px_0px_0px]">
              Données de Expéditeur
            </p>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <table class="w-full text-left text-gray-500 mt-5">
        <thead>
          <tr>
            <th *ngFor="let header of headerColumuns" scope="col"
              class="p-3 text-[#0C8040] font-normal whitespace-nowrap">
              <div class="flex items-center">
                {{ header }}
              </div>
            </th>
            <!-- <th
            scope="col"
            class="p-3 text-[#0C8040] font-normal whitespace-nowrap"
          >
            <div class="flex justify-end">Actions</div>
          </th> -->
          </tr>
        </thead>
        <tbody>
          <tr class="table-row bg-white whitespace-nowrap border-b border-gray-800"
          >
            <td class="p-3">
              {{
              expediteur?.type === "entity" ? "Entreprise" : "Particulier"
              }}
            </td>
            <td class="p-3">{{ expediteur?.identity_number }}</td>
            <td class="p-3">{{ expediteur?.first_name }}</td>
            <td class="p-3">{{ expediteur?.last_name }}</td>
            <td class="p-3">{{ expediteur?.email }}</td>
            <td class="p-3">{{ expediteur?.phone }}</td>
          </tr>
        </tbody>
      </table>
    </mat-expansion-panel>
  </mat-accordion>
</div>
  <div
    class="bg-[#F5FCF8] shadow-[0px_3px_10px_#00000029] border-[2px] border-[#E3E3E3] rounded-[18px] pl-6 pr-6 pb-6 pt-0 ml-5 mr-5 mt-5">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="border-b-2 border-[#0C8040] mt-5">
              <p class="bg-[#0C8040] text-[#fff] w-56 p-2 rounded-[12px_12px_0px_0px]">
                Données de destinataires
              </p>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <table class="w-full text-left text-gray-500 mt-5">
          <thead>
            <tr>
              <th *ngFor="let header of headerColumuns" scope="col"
                class="p-3 text-[#0C8040] font-normal whitespace-nowrap">
                <div class="flex items-center">
                  {{ header }}
                </div>
              </th>
              <!-- <th
              scope="col"
              class="p-3 text-[#0C8040] font-normal whitespace-nowrap"
            >
              <div class="flex justify-end">Actions</div>
            </th> -->
            </tr>
          </thead>
          <tbody>
            <tr class="table-row bg-white whitespace-nowrap border-b border-gray-800"
              *ngFor="let destinataire of destinataires">
              <td class="p-3">
                {{
                destinataire?.type === "entity" ? "Entreprise" : "Particulier"
                }}
              </td>
              <td class="p-3">{{ destinataire?.identity_number }}</td>
              <td class="p-3">{{ destinataire?.first_name }}</td>
              <td class="p-3">{{ destinataire?.last_name }}</td>
              <td class="p-3">{{ destinataire?.email }}</td>
              <td class="p-3">{{ destinataire?.phone }}</td>
            </tr>
          </tbody>
        </table>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div
    class="bg-[#F5FCF8] shadow-[0px_3px_10px_#00000029] border-[2px] border-[#E3E3E3] rounded-[18px] pl-6 pr-6 pb-6 pt-0 ml-5 mr-5 mt-5">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="border-b-2 border-[#0C8040] mt-5">
              <p class="bg-[#0C8040] text-[#fff] w-56 p-2 rounded-[12px_12px_0px_0px]">
                Mode port
              </p>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="flex justify-start gap-6 mt-5">
          <section class="example-section">
            <div class="pl-4 text-black font-bold">
              {{ modePortIselected(modePort) }}
            </div>
          </section>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div
    class="bg-[#F5FCF8] shadow-[0px_3px_10px_#00000029] border-[2px] border-[#E3E3E3] rounded-[18px] pl-6 pr-6 pb-6 pt-0 ml-5 mr-5 mt-5">
    <div class="grid grid-cols-2 gap-4">
      <div>
        <mat-accordion>
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="border-b-2 border-[#0C8040] mt-5">
                  <p class="bg-[#0C8040] text-[#fff] w-56 p-2 rounded-[12px_12px_0px_0px]">
                    Marchandises
                  </p>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="overflow-x-auto relative mt-5">
              <table class="w-full text-left text-gray-500">
                <thead>
                  <tr>
                    <th *ngFor="let header of headerMarchndise" scope="col"
                      class="p-3 text-[#0C8040] font-normal whitespace-nowrap">
                      <div class="flex items-center">
                        {{ header }}
                      </div>
                    </th>
                    <!-- <th
                            scope="col"
                            class="p-3 text-[#0C8040] font-normal whitespace-nowrap"
                          >
                            <div class="flex justify-end">Actions</div>
                          </th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-row bg-white whitespace-nowrap border-b border-gray-800">
                    <td class="p-3">{{ marchandise.nbr_palettes }}</td>
                    <td class="p-3">{{ marchandise.poids }}</td>
                    <td class="p-3">{{ marchandise.volume }}</td>
                    <td class="p-3">{{ marchandise.valeur_declare }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div>
        <mat-accordion>
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="border-b-2 border-[#0C8040] mt-5">
                  <p class="bg-[#0C8040] text-[#fff] w-56 p-2 rounded-[12px_12px_0px_0px]">
                    Point de chargement
                  </p>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="overflow-x-auto relative mt-5">
              <table class="w-full text-left text-gray-500">
                <thead>
                  <tr>
                    <th *ngFor="let header of headerChargement" scope="col"
                      class="p-3 text-[#0C8040] font-normal whitespace-nowrap">
                      <div class="flex items-center">
                        {{ header }}
                      </div>
                    </th>
                    <th scope="col" class="p-3 text-[#0C8040] font-normal whitespace-nowrap">
                      <div class="flex">Détail marchandise </div>
                    </th>>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-row bg-white whitespace-nowrap border-b border-gray-800" *ngFor="
                      let points_Chargement of points_Chargement;
                      let i = index
                    ">
                    <td class="p-3">
                      {{
                      points_Chargement?.date
                      }}
                    </td>
                    <td class="p-3">{{ points_Chargement.ville }}</td>
                    <td class="p-3">{{ points_Chargement.address }}</td>
                    <td class="p-3">
                      <div class="flex cursor-pointer" (click)="detailsmarchandise(i)">
                        <mat-icon class="pt-1 text-[#0C8040] text-[20px]">remove_red_eye</mat-icon>
                        <h3 class="text-[#0C8040] mb-0">Visualiser</h3>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>

  <div
    class="bg-[#F5FCF8] shadow-[0px_3px_10px_#00000029] border-[2px] border-[#E3E3E3] rounded-[18px] pl-6 pr-6 pb-6 pt-0 ml-5 mr-5 mt-5">
    <div *ngFor="let destinataire of destinataires; let i = index">
      <div [ngClass]="
          destinataires[i + 1]
            ? 'grid grid-cols-2 gap-7'
            : 'grid grid-cols-1 gap-7'
        " *ngIf="i % 2 === 0">
        <div>
          <mat-accordion>
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="border-b-2 border-[#0C8040] mt-5">
                    <p class="bg-[#0C8040] text-[#fff] w-56 p-2 rounded-[12px_12px_0px_0px]">
                      Destinataire {{ i + 1 }}
                    </p>
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class=" flex justify-between items-center">
                <div class="flex items-center mt-5">
                  <mat-icon class="text-[#ccc] text-[20px]">person</mat-icon>

                  <h3 class="text-[#3655FF] mb-0" *ngIf="destinataires[i]['type'] == 'individual'">
                    {{ destinataires[i]["first_name"] }}
                    {{ destinataires[i]["last_name"] }}
                  </h3>

                  <h3 class="text-[#3655FF] mb-0" *ngIf="destinataires[i]['type'] == 'entity'">
                    {{ destinataires[i]["name"] }}
                  </h3>
                </div>

                <h3>
                  <!-- {{destinatairesData[i]['dec_code']}} -->
                </h3>
              </div>
              <div *ngFor="
                  let pointsGeo of destinatairesData[i].pointsGeoArray;
                  let j = index
                ">
                <br />
                <hr />
                <br />
                <div>
                  <h3 class="text-[#0C8040] pl-6">
                    Point de déchargement {{ j + 1 }}
                  </h3>
                </div>
                <div class="overflow-x-auto relative mt-5">
                  <table class="w-full text-left text-gray-500">
                    <thead>
                      <tr>
                        <th *ngFor="let header of headerDestinataire" scope="col"
                          class="p-3 text-[#0C8040] font-normal whitespace-nowrap">
                          <div class="flex items-center">
                            {{ header }}
                          </div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="table-row bg-white whitespace-nowrap border-b border-gray-800">
                        <td class="p-3">
                          {{ pointsGeo?.date  }}
                        </td>
                        <td class="p-3">{{ pointsGeo.ville }}</td>
                        <td class="p-3">{{ getAdresse(pointsGeo.adress_decharge) }}</td>
                        <td class="p-3">
                          <div class="flex cursor-pointer" (click)="localisation(pointsGeo.lat, pointsGeo.lng)">
                            <mat-icon class="pt-1 text-[#0C8040] text-[20px]">location_searching</mat-icon>
                            <h3 class="text-[#0C8040] mb-0">
                              Voir sur la carte
                            </h3>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="mt-5">
                  <h3 class="text-[#0C8040]">Palettes</h3>
                </div>
                <div class="grid grid-cols-2 gap-4">
                  <div>
                    <mat-icon class="text-[#0C8040] text-[20px] pt-1">check_circle</mat-icon>
                    {{
                    pointsGeo.type_palettes === "expediteur"
                    ? "Palettes expéditeur"
                    : "Palettes SDTM"
                    }}
                  </div>

                  <div>
                    <p class="text-[#0C8040] font-medium">Gerbage</p>
                    <p>
                      <strong>{{
                        pointsGeo.gerbage === true ? "OUI" : "NON"
                        }}</strong>
                    </p>
                  </div>
                </div>
                <div class="flex items-center mt-5">
                  <mat-icon class="text-[#ccc] text-[20px]">local_shipping</mat-icon>
                  <h3 class="text-black mb-0">Envoie</h3>
                </div>
                <div class="overflow-x-auto relative mt-5">
                  <table class="w-full text-left text-gray-500">
                    <thead>
                      <tr>
                        <th *ngFor="let header of headerEnvoie" scope="col"
                          class="p-3 text-[#0C8040] font-normal whitespace-nowrap">
                          <div class="flex items-center">
                            {{ header }}
                          </div>
                        </th>
                        <th scope="col" class="p-3 text-[#0C8040] font-normal whitespace-nowrap">
                          <div class="flex justify-end">Références des palettes</div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="table-row bg-white whitespace-nowrap border-b border-gray-800"
                        *ngFor="let envoi of pointsGeo.envoisFormArray">
                        <td class="p-3">
                          <strong>{{ envoi.type_palette }}</strong>{{ envoi.dimension_palette }}
                        </td>
                        <td class="p-3">{{ envoi.nbr_palette }}</td>
                        <td class="p-3">Oui</td>
                        <td class="p-3">{{ envoi.envoiReferences?.length }}</td>
                        <td class="p-3">
                          <div class="flex cursor-pointer" (click)="
                              visualiserEnvoiSupports(envoi.envoiReferences)
                            ">
                            <mat-icon class="text-[#8E8E8E] text-[21px] pt-1">search</mat-icon>
                            <h3 class="text-[#0C8040] mb-0">Visualiser</h3>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="flex items-center mt-5"  *ngIf="point_dechargement?.item_retours?.length > 0">
                  <mat-icon class="text-[#ccc] text-[20px]">replay</mat-icon>
                  <h3 class="text-black mb-0">Retour</h3>
                </div>
                <div class="overflow-x-auto relative mt-5"  *ngIf="point_dechargement?.item_retours?.length > 0">
                  <table class="w-full text-left text-gray-500">
                    <thead>
                      <tr>
                        <th *ngFor="let header of headerRetour" scope="col"
                          class="p-3 text-[#0C8040] font-normal whitespace-nowrap">
                          <div class="flex items-center">
                            {{ header }}
                          </div>
                        </th>
                        <th scope="col" class="p-3 text-[#0C8040] font-normal whitespace-nowrap">
                          <div>Références des palettes</div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="table-row bg-white whitespace-nowrap border-b border-gray-800" *ngFor="
                          let retour of pointsGeo.retoursFormArray;
                          let k = index
                        ">
                        <td class="p-3">
                          <strong>{{ retour.type_palette }}</strong>{{ retour.dimension_palette }}
                        </td>
                        <td class="p-3">
                          <div class="flex cursor-pointer" (click)="visualiserRetourSupports(i, j, k)">
                            <mat-icon class="text-[#8E8E8E] text-[21px] pt-1">search</mat-icon>
                            <h3 class="text-[#0C8040] mb-0">Visualiser</h3>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="grid grid-cols-2 gap-4">
                  <div>
                    <div class="flex items-center mt-5">
                      <mat-icon class="text-[#0C8040] text-[20px]">local_movies</mat-icon>
                      <h3 class="text-[#0C8040]">Retour de fonds :</h3>
                    </div>

                    <div class="overflow-x-auto relative mt-5">
                      <table class="w-full text-left text-gray-500">
                        <thead>
                          <tr>
                            <th scope="col" class="p-3 text-[#0C8040] font-normal whitespace-nowrap">
                              <div class="flex items-center">Type</div>
                            </th>
                            <th scope="col" class="p-3 text-[#0C8040] font-normal whitespace-nowrap">
                              <div class="flex items-center">
                                Montant du fonds (Dhs)
                              </div>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="table-row bg-white whitespace-nowrap border-b border-gray-800" *ngFor="
                              let retourFond of pointsGeo.retourFondsFormArray
                            ">
                            <td class="p-3">
                              {{ returnFonds[retourFond?.type_retour_fond] }}
                            </td>
                            <td class="p-3">{{ retourFond.montant_fond }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <div>
                    <div class="flex items-center mt-5">
                      <mat-icon class="text-[#0C8040] text-[20px]">insert_drive_file</mat-icon>
                      <h3 class="text-[#0C8040]">Retour de documents :</h3>
                    </div>

                    <div class="overflow-x-auto relative mt-5">
                      <table class="w-full text-left text-gray-500">
                        <thead>
                          <tr>
                            <th scope="col" class="p-3 text-[#0C8040] font-normal whitespace-nowrap">
                              <div class="flex items-center">Type Document</div>
                            </th>
                            <th scope="col" class="p-3 text-[#0C8040] font-normal whitespace-nowrap">
                              <div class="flex items-center">
                                nombre documents
                              </div>
                            </th>
                            <th scope="col" class="p-3 text-[#0C8040] font-normal whitespace-nowrap">
                              <div class="flex items-center">Actions</div>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="table-row bg-white whitespace-nowrap border-b border-gray-800">
                            <td class="p-3">{{ pointsGeo.type_factures }}</td>
                            <td class="p-3">
                              {{ pointsGeo.facture_references.length }}
                            </td>
                            <td class="p-3">
                              <div class="flex cursor-pointer" (click)="
                                  visualiserDocuments(
                                    pointsGeo.facture_references
                                  )
                                ">
                                <mat-icon class="text-[#8E8E8E] text-[21px] pt-1">search</mat-icon>
                                <h3 class="text-[#0C8040] mb-0">Visualiser</h3>
                              </div>
                            </td>
                          </tr>
                          <tr class="table-row bg-white whitespace-nowrap border-b border-gray-800">
                            <td class="p-3">{{ pointsGeo.type_bls }}</td>
                            <td class="p-3">
                              {{ pointsGeo.bl_references.length }}
                            </td>
                            <td class="p-3">
                              <div class="flex cursor-pointer" (click)="
                                  visualiserDocuments(pointsGeo.bl_references)
                                ">
                                <mat-icon class="text-[#8E8E8E] text-[21px] pt-1">search</mat-icon>
                                <h3 class="text-[#0C8040] mb-0">Visualiser</h3>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
          <!-- <div class="pr-6 pb-6 pt-0 mt-5">
            <mat-accordion>

            </mat-accordion>
          </div> -->
        </div>

        <div *ngIf="destinataires[i + 1]">
          <div class="border-b-2 border-[#0C8040] mt-5">
            <p class="bg-[#0C8040] text-[#fff] w-56 p-2 rounded-[12px_12px_0px_0px]">
              Destinataire {{ i + 2 }}
            </p>
          </div>
          <div class="flex items-center mt-5">
            <mat-icon class="text-[#ccc] text-s[20px]">person</mat-icon>
            <h3 class="text-[#3655FF] mb-0">
              {{ details?.demande_destinataires[i] }}

              {{ destinataires[i + 1]["first_name"] }}
              {{ destinataires[i + 1]["last_name"] }}
            </h3>
          </div>

          <div *ngFor="
              let pointsGeo of destinatairesData[i + 1].pointsGeoArray;
              let j = index
            ">
            <br />
            <hr />
            <br />
            <div>
              <h3 class="text-[#0C8040] pl-6">
                Point de déchargement {{ j + 1 }}
              </h3>
            </div>
            <div class="overflow-x-auto relative mt-5">
              <table class="w-full text-left text-gray-500">
                <thead>
                  <tr>
                    <th *ngFor="let header of headerDestinataire" scope="col"
                      class="p-3 text-[#0C8040] font-normal whitespace-nowrap">
                      <div class="flex items-center">
                        {{ header }}
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-row bg-white whitespace-nowrap border-b border-gray-800">
                    <td class="p-3">
                      {{ pointsGeo?.date  }}
                    </td>
                    <td class="p-3">{{ pointsGeo.ville }}</td>
                    <td class="p-3">{{ pointsGeo.adress_decharge }}</td>
                    <td class="p-3">
                      <div class="flex cursor-pointer" (click)="localisation(pointsGeo.lat, pointsGeo.lng)">
                        <mat-icon class="pt-1 text-[#0C8040] text-[20px]">location_searching</mat-icon>
                        <h3 class="text-[#0C8040] mb-0">Voir sur la carte</h3>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="mt-5">
              <h3 class="text-[#0C8040]">Palettes</h3>
            </div>
            <div class="grid grid-cols-2 gap-4">
              <div>
                <mat-icon class="text-[#0C8040] text-[20px] pt-1">check_circle</mat-icon>
                {{
                pointsGeo.type_palettes === "expediteur"
                ? "Palettes expéditeur"
                : "Palettes SDTM"
                }}
              </div>

              <div>
                <p class="text-[#0C8040] font-medium">Gerbage</p>
                <p>
                  <strong>{{
                    pointsGeo.gerbage === true ? "OUI" : "NON"
                    }}</strong>
                </p>
              </div>
            </div>
            <div class="flex items-center mt-5">
              <mat-icon class="text-[#ccc] text-[20px]">local_shipping</mat-icon>
              <h3 class="text-black mb-0">Envoie</h3>
            </div>
            <div class="overflow-x-auto relative mt-5">
              <table class="w-full text-left text-gray-500">
                <thead>
                  <tr>
                    <th *ngFor="let header of headerEnvoie" scope="col"
                      class="p-3 text-[#0C8040] font-normal whitespace-nowrap">
                      <div class="flex items-center">
                        {{ header }}
                      </div>
                    </th>
                    <th scope="col" class="p-3 text-[#0C8040] font-normal whitespace-nowrap">
                      <div class="flex justify-end">Références des palettes</div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-row bg-white whitespace-nowrap border-b border-gray-800"
                    *ngFor="let envoi of pointsGeo.envoisFormArray">
                    <td class="p-3">
                      <strong>{{ envoi.type_palette }}</strong>{{ envoi.dimension_palette }}
                    </td>
                    <td class="p-3">{{ envoi.nbr_palette }}</td>
                    <td class="p-3">Oui</td>
                    <td class="p-3">{{ envoi.envoiReferences?.length }}</td>
                    <td class="p-3">
                      <div class="flex cursor-pointer" (click)="visualiserEnvoiSupports(envoi.envoiReferences)">
                        <mat-icon class="text-[#8E8E8E] text-[21px] pt-1">search</mat-icon>
                        <h3 class="text-[#0C8040] mb-0">Visualiser</h3>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="flex items-center mt-5">
              <mat-icon class="text-[#ccc] text-[20px]">replay</mat-icon>
              <h3 class="text-black mb-0">Retour</h3>
            </div>
            <div class="overflow-x-auto relative mt-5">
              <table class="w-full text-left text-gray-500">
                <thead>
                  <tr>
                    <th *ngFor="let header of headerRetour" scope="col"
                      class="p-3 text-[#0C8040] font-normal whitespace-nowrap">
                      <div class="flex items-center">
                        {{ header }}
                      </div>
                    </th>
                    <th scope="col" class="p-3 text-[#0C8040] font-normal whitespace-nowrap">
                      <div>Références des palettes</div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-row bg-white whitespace-nowrap border-b border-gray-800" *ngFor="
                      let retour of pointsGeo.retoursFormArray;
                      let k = index
                    ">
                    <td class="p-3">
                      <strong>{{ retour.type_palette }}</strong>{{ retour.dimension_palette }}
                    </td>
                    <td class="p-3">
                      <div class="flex cursor-pointer" (click)="visualiserRetourSupports(i + 1, j, k)">
                        <mat-icon class="text-[#8E8E8E] text-[21px] pt-1">search</mat-icon>
                        <h3 class="text-[#0C8040] mb-0">Visualiser</h3>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="grid grid-cols-2 gap-4">
              <div>
                <div class="flex items-center mt-5">
                  <mat-icon class="text-[#0C8040] text-[20px]">local_movies</mat-icon>
                  <h3 class="text-[#0C8040]">Retour de fonds :</h3>
                </div>

                <div class="overflow-x-auto relative mt-5">
                  <table class="w-full text-left text-gray-500">
                    <thead>
                      <tr>
                        <th scope="col" class="p-3 text-[#0C8040] font-normal whitespace-nowrap">
                          <div class="flex items-center">Type</div>
                        </th>
                        <th scope="col" class="p-3 text-[#0C8040] font-normal whitespace-nowrap">
                          <div class="flex items-center">
                            Montant du fonds (Dhs)
                          </div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="table-row bg-white whitespace-nowrap border-b border-gray-800" *ngFor="
                          let retourFond of pointsGeo.retourFondsFormArray
                        ">
                        <td class="p-3">
                          {{ returnFonds[retourFond?.type_retour_fond] }}
                        </td>
                        <td class="p-3">{{ retourFond.montant_fond }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div>
                <div class="flex items-center mt-5">
                  <mat-icon class="text-[#0C8040] text-[20px]">insert_drive_file</mat-icon>
                  <h3 class="text-[#0C8040]">Retour de documents :</h3>
                </div>

                <div class="overflow-x-auto relative mt-5">
                  <table class="w-full text-left text-gray-500">
                    <thead>
                      <tr>
                        <th scope="col" class="p-3 text-[#0C8040] font-normal whitespace-nowrap">
                          <div class="flex items-center">Type Document</div>
                        </th>
                        <th scope="col" class="p-3 text-[#0C8040] font-normal whitespace-nowrap">
                          <div class="flex items-center">nombre documents</div>
                        </th>
                        <th scope="col" class="p-3 text-[#0C8040] font-normal whitespace-nowrap">
                          <div class="flex items-center">Actions</div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="table-row bg-white whitespace-nowrap border-b border-gray-800">
                        <td class="p-3">{{ pointsGeo.type_factures }}</td>
                        <td class="p-3">
                          {{ pointsGeo.facture_references.length }}
                        </td>
                        <td class="p-3">
                          <div class="flex cursor-pointer" (click)="
                              visualiserDocuments(pointsGeo.facture_references)
                            ">
                            <mat-icon class="text-[#8E8E8E] text-[21px] pt-1">search</mat-icon>
                            <h3 class="text-[#0C8040] mb-0">Visualiser</h3>
                          </div>
                        </td>
                      </tr>
                      <tr class="table-row bg-white whitespace-nowrap border-b border-gray-800">
                        <td class="p-3">{{ pointsGeo.type_bls }}</td>
                        <td class="p-3">
                          {{ pointsGeo.bl_references.length }}
                        </td>
                        <td class="p-3">
                          <div class="flex cursor-pointer" (click)="
                              visualiserDocuments(pointsGeo.bl_references)
                            ">
                            <mat-icon class="text-[#8E8E8E] text-[21px] pt-1">search</mat-icon>
                            <h3 class="text-[#0C8040] mb-0">Visualiser</h3>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="bg-[#F5FCF8] shadow-[0px_3px_10px_#00000029] border-[2px] border-[#E3E3E3] rounded-[18px] pl-6 pr-6 pb-6 pt-0 ml-5 mr-5 mt-5">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="border-b-2 border-[#0C8040] mt-5">
              <p class="bg-[#0C8040] text-[#fff] w-56 p-2 rounded-[12px_12px_0px_0px]">
                Véhicule et services annexes
              </p>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <div class="mt-5">
              <h3 class="text-[#0C8040] font-bold">Véhicule :</h3>
            </div>
            <div class="overflow-x-auto relative mt-5">
              <table class="w-full text-left text-gray-500">
                <thead>
                  <tr>
                    <th *ngFor="let header of headerVehicule" scope="col"
                      class="p-3 text-[#0C8040] font-normal whitespace-nowrap">
                      <div class="flex items-center">
                        {{ header }}
                      </div>
                    </th>
                    <!-- <th
                            scope="col"
                            class="p-3 text-[#0C8040] font-normal whitespace-nowrap"
                          >
                            <div>Actions</div>
                          </th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-row bg-white whitespace-nowrap border-b border-gray-800"
                    *ngFor="let vehicule of vehicules">
                    <td class="p-3">{{ vehicule.type_camion }}</td>
                    <td class="p-3">{{ vehicule.tonnage }}</td>
                    <td class="p-3">{{ vehicule.poids_vehicule }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div>
            <div class="mt-5">
              <h3 class="text-[#0C8040]">Services :</h3>
            </div>
            <div class="overflow-x-auto relative mt-5">
              <table class="w-full text-left text-gray-500">
                <thead>
                  <tr>
                    <th *ngFor="let header of headerServices" scope="col"
                      class="p-3 text-[#0C8040] font-normal whitespace-nowrap">
                      <div class="flex items-center">
                        {{ header }}
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-row bg-white whitespace-nowrap border-b border-gray-800"
                    *ngFor="let service of services">
                    <td class="p-3">{{ service.name }}</td>
                    <td class="p-3">{{ service.nbr }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <!-- <div class="grid grid-cols-2 gap-4 mt-1 mb-4 p-4">
    <div class="col-end-7 col-span-2">
      <button
        class="bg-[#0C8040] text-[#fff] rounded-[28px] confirm-btn shadow-[0px_3px_6px_#00000029] p-2 mr-3 font-bold text-[15px] w-44"
      >
        <span class="pl-2">Réserver</span>
      </button>
    </div>
  </div> -->
  <!-- <ng-container *ngIf="loader$ | async as isLoading">
    <div
      *ngIf="isLoading.loading"
      class="flex items-center justify-center mt-6"
    >
      <mat-spinner [diameter]="10"></mat-spinner>
      <p-progressSpinner></p-progressSpinner>
    </div>
  </ng-container> -->
  <!-- <div
    class="bg-[#F5FCF8] shadow-[0px_3px_10px_#00000029] border-[2px] border-[#E3E3E3] rounded-[18px] pl-6 pr-6 pb-6 pt-0 ml-5 mr-5 mt-5"
  >
    <div class="border-b-2 border-[#0C8040] mt-5">
      <p class="bg-[#0C8040] text-[#fff] w-56 p-2 rounded-[12px_12px_0px_0px]">
        Demande
      </p>
    </div>
    <div class="flex mt-5">
      <h2 class="text-[#0C8040]">Total :</h2>
      <hr />
    </div>
    <div
      class="flex flex-row justify-between pl-3 pr-3 bg-white mb-5 shadow-[0px_3px_20px_#00000029] border-[4px] border-[#0C8040] rounded-[8px] h-[115px] items-center"
    >
      <div class="width-content">
        <div class="flex items-center">
          <div class="icon ml-1">
            <mat-icon class="text-[18px] text-[#138742]"
              >local_shipping</mat-icon
            >
          </div>
          <div class="pl-1">
            <p class="text-[#0C8040] text-[16px] font-normal">
              Total Transport :
            </p>
            <p class="text-[14px] text-[#000000]">2310 Dhs</p>
          </div>
        </div>
      </div>
      <mat-divider [vertical]="true" class="mx-auto"></mat-divider>
      <div class="width-content ml-2">
        <div class="flex items-center">
          <div class="icon ml-1">
            <mat-icon class="text-[18px] text-[#138742]">money</mat-icon>
          </div>
          <div class="pl-1">
            <p class="text-[#138742] text-[18px] font-normal">Total service</p>
            <p class="text-[14px] text-[#000000]">2310 Dhs</p>
          </div>
        </div>
      </div>
      <mat-divider [vertical]="true" class="mx-auto"></mat-divider>
      <div class="width-content ml-2">
        <div class="flex items-center">
          <div class="icon ml-1">
            <mat-icon class="text-[18px] text-[#138742]">money</mat-icon>
          </div>
          <div class="pl-1">
            <p class="text-[#138742] text-[18px] font-normal">Total HT</p>
            <p class="text-[14px] text-[#000000]">1000 Dhs</p>
          </div>
        </div>
      </div>
      <mat-divider [vertical]="true" class="mx-auto"></mat-divider>
      <div class="width-content ml-2">
        <div class="flex items-center">
          <div class="icon ml-1">
            <mat-icon class="text-[18px] text-[#138742]">money</mat-icon>
          </div>
          <div class="pl-1">
            <p class="text-[#138742] text-[18px] font-normal">Remise</p>
            <p class="text-[14px] text-[#000000]">210 Dhs</p>
          </div>
        </div>
      </div>
      <mat-divider [vertical]="true" class="mx-auto"></mat-divider>
      <div class="width-content ml-2">
        <div class="flex items-center">
          <div class="icon ml-1">
            <mat-icon class="text-[18px] text-[#138742]">money</mat-icon>
          </div>
          <div class="pl-1">
            <p class="text-[#138742] text-[18px] font-normal">TVA</p>
            <p class="text-[14px] text-[#000000]">210 Dhs</p>
          </div>
        </div>
      </div>
      <mat-divider [vertical]="true" class="mx-auto"></mat-divider>
      <div class="width-content ml-2">
        <div class="flex items-center">
          <div class="icon ml-1">
            <mat-icon class="text-[18px] text-[#138742]">money</mat-icon>
          </div>
          <div class="pl-1">
            <p class="text-[#138742] text-[18px] font-normal">MT TTC</p>
            <p class="text-[14px] text-[#000000]">2310 Dhs</p>
          </div>
        </div>
      </div>
      <div class="width-content">
        <div class="flex cursor-pointer" (click)="detailsOpen()">
          <mat-icon class="pt-1 text-[#0C8040] text-[20px]">search</mat-icon>
          <h3 class="text-[#0C8040] mb-0">Détails</h3>
        </div>
      </div>
    </div>
    <div
      *ngIf="detailsToogle"
      class="flex flex-row justify-between mb-5 h-[150px] items-center"
    >
      <div class="width-content">
        <div class="flex items-center">
          <div class="pl-1">
            <p class="text-[#0C8040] text-[15px] font-normal">
              Destinataires :
            </p>
            <p class="text-[12px] text-[#000000]">0</p>
          </div>
        </div>
      </div>
      <mat-divider [vertical]="true" class="mx-auto"></mat-divider>
      <div class="width-content ml-2">
        <div class="flex items-center">
          <div class="pl-1">
            <p class="text-[#138742] text-[15px] font-normal">
              Nbr de Véhicule
            </p>
            <p class="text-[12px] text-[#000000]">0</p>
          </div>
        </div>
      </div>
      <mat-divider [vertical]="true" class="mx-auto"></mat-divider>
      <div class="width-content ml-2">
        <div class="flex items-center">
          <div class="pl-1">
            <p class="text-[#138742] text-[15px] font-normal">
              Type de Véhicule
            </p>
            <p class="text-[12px] text-[#000000]">0</p>
          </div>
        </div>
      </div>
      <mat-divider [vertical]="true" class="mx-auto"></mat-divider>
      <div class="width-content ml-2">
        <div class="flex items-center">
          <div class="pl-1">
            <p class="text-[#138742] text-[15px] font-normal">
              Type de Tonnage
            </p>
            <p class="text-[12px] text-[#000000]">0</p>
          </div>
        </div>
      </div>
      <mat-divider [vertical]="true" class="mx-auto"></mat-divider>
      <div class="width-content ml-2">
        <div class="flex items-center">
          <div class="pl-1">
            <p class="text-[#138742] text-[15px] font-normal">déchargement</p>
            <p class="text-[12px] text-[#000000]">0</p>
          </div>
        </div>
      </div>
      <mat-divider [vertical]="true" class="mx-auto"></mat-divider>
      <div class="width-content ml-2">
        <div class="flex items-center">
          <div class="pl-1">
            <p class="text-[#138742] text-[18px] font-normal">
              <strong> Total: </strong>
            </p>
            <p class="text-[15px] text-[#000000]">0</p>
          </div>
        </div>
      </div>
    </div>
    <div
      *ngIf="detailsToogle"
      class="justify-between mb-5 h-[700px] items-center"
    >
      <div class="overflow-x-auto relative mt-5">
        <table class="w-full text-left text-gray-500">
          <thead>
            <tr>
              <th
                *ngFor="let header of ['Affrétement', 'HT', 'TVA', 'TTC']"
                scope="col"
                class="p-3 text-[#0C8040] font-normal whitespace-nowrap"
              >
                <div class="flex items-center">
                  {{ header }}
                </div>
              </th>
              <th
                scope="col"
                class="p-3 text-[#0C8040] font-normal whitespace-nowrap"
              >
                <div>Actions</div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="table-row bg-white whitespace-nowrap border-b border-gray-800"
              *ngFor="let item of [0]"
            >
              <td class="p-3">Transport</td>
              <td class="p-3">200 Dhs</td>
              <td class="p-3">14%</td>
              <td class="p-3">5000 Dhs</td>
            </tr>
          </tbody>

          <thead>
            <tr>
              <th
                *ngFor="let header of ['Service', 'HT', 'TVA', 'TTC']"
                scope="col"
                class="p-3 text-[#0C8040] font-normal whitespace-nowrap"
              >
                <div class="flex items-center">
                  {{ header }}
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="table-row bg-white whitespace-nowrap border-b border-gray-800"
              *ngFor="let service of services"
            >
              <td class="p-3">{{ service.nbr_transpalette }}</td>
              <td class="p-3">200 Dhs</td>
              <td class="p-3">14%</td>
              <td class="p-3">5000 Dhs</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div> -->

  <div class="grid grid-cols-2 gap-4 mt-1 mb-4 p-4">
    <div class="col-start-1 col-end-3">
      <button type="button" (click)="goBack()" *ngIf="step > 1" class="w-48 underline pl-1 pt-3 text-left">
        Retour
      </button>
    </div>
    <div class="col-end-7 col-span-2">
      <button (click)="confirmer()" type="button"
        class="bg-[#0C8040] text-[#fff] rounded-[28px] confirm-btn shadow-[0px_3px_6px_#00000029] p-2 mr-3 font-bold text-[15px] w-44">
        <span class="pl-2">
          {{edit_mode ? 'Modifier' : 'Confirmer'}}
        </span>
      </button>
    </div>
  </div>
</ng-container>
