::ng-deep .confirme-icon{
    width: auto;
    height: auto;
}
.btn-annuler{
    margin-right: 30px;
    background: #000000 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 28px;
    color: #fff;
    padding: 0px 20px 0px 20px;
}
.btn-confirme{
    background: #0C8040 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 28px;
    color: #fff; 
    padding: 0px 20px 0px 20px; 
}


::ng-deep .mat-dialog-container{
    padding: 0px;
    overflow: hidden;
  }
  ::ng-deep .mat-dialog-title{
    margin-bottom: 0px;
  }
  :host .mat-dialog-content{
    margin-top: 40px;
  }
