<div class="dialog">
    <div
      class="grid grid-cols-3 gap-4 bg-[#E9E9E9] rounded-[12px_12px_0px_0px] p-4"
    >
      <ng-container *ngIf="!this.disableActions">
        <h2 *ngIf="!this.dialogData.editMode" mat-dialog-title class="col-span-2">
          Ajout d'une condition de
          {{
            this.dialogData.rubric_type === "transport"
              ? "Transport"
              : this.dialogData.conv_title
          }}
        </h2>
        <h2 *ngIf="this.dialogData.editMode" mat-dialog-title class="col-span-2">
          Modification d'une condition de
          {{
            this.dialogData.rubric_type === "transport"
              ? "Transport"
              : this.dialogData.conv_title
          }}
        </h2>
      </ng-container>
  
      <!-- details mode -->
      <h2 *ngIf="this.disableActions" mat-dialog-title class="col-span-2">
        Détails d'une condition de
        {{
          this.dialogData.rubric_type === "transport"
            ? "Transport"
            : this.dialogData.conv_title
        }}
      </h2>
      <div class="text-right cursor-pointer" mat-button mat-dialog-close>
        <mat-icon>close</mat-icon>
      </div>
    </div>
    <div *ngIf="isLoading" class="flex items-center justify-center m-4">
      <mat-spinner [diameter]="80"></mat-spinner>
    </div>
    <form
      *ngIf="!isLoading"
      [formGroup]="conditionForm"
      (ngSubmit)="onFormSubmit()"
    >
      <div mat-dialog-content>
          <h1 class="pt-2 pb-4 text-[#0C8040] font-medium">condition</h1>
              <div class="flex gap-4">
                <div class="relative flex items-center">
                  <p class="pr-2 font-medium">Ville de départ</p>
                  <select
                    class="p-3 w-[95%] pr-12 border rounded-sm border-[#DBDBDB]"
                    formControlName="origine"
                    >
                    <option value="*">TOUT</option>
                    <option
                        *ngFor="let item of cities"
                        [value]="item.id"
                    >
                        {{ item.name }}
                    </option>
                    </select>
                </div>
                <div class="relative flex items-center">
                  <p class="pr-2 font-medium">Ville de destination</p>
                  <select
                    class="p-3 w-[95%] pr-12 border rounded-sm border-[#DBDBDB]"
                    formControlName="destination"
                    >
                    <option value="*">TOUT</option>
                    <option
                        *ngFor="let item of cities"
                        [value]="item.id"
                    >
                        {{ item.name }}
                    </option>
                  </select>
                </div>
                <div class="flex gap-2">
                    <label class="pb-5 pl-3 font-medium">Montant</label>
                    <input
                      class="w-[98%] py-3 pl-3 pr-3 text-sm border-2 rounded-sm border-[#DBDBDB]"
                      type="number"
                      formControlName="tranche_prix"
                    />
                  </div>
              </div>
           
      </div>
      <div class="grid grid-cols-2 gap-4 mt-5 mb-5 p-4">
        <div>
          <button
            class="underline w-32 p-4 mr-3 font-bold text-[18px]"
            mat-dialog-close
          >
          Abandonner
          </button>
        </div>
        <div class="text-right" *ngIf="!this.disableActions">
          <button
            type="submit"
            [ngClass]="
              !this.conditionForm.valid
                ? 'bg-gray-200 text-gray-700 border-gray-200 rounded-[28px] shadow-[0px_3px_6px_#00000029] w-32 p-4 mr-3 font-bold text-[18px]'
                : 'bg-[#0C8040] text-[#fff] border-[#0C8040] rounded-[28px] shadow-[0px_3px_6px_#00000029] w-32 p-4 mr-3 font-bold text-[18px]'
            "
            [disabled]="
              !this.conditionForm.valid
            "
          >
            {{ this.dialogData.editMode ? "Modifier" : "Enregistrer" }}
          </button>
        </div>
      </div>
    </form>
  </div>
  