<div *ngIf="spinner" class="flex items-center justify-center mt-6 mb-6">
  <mat-spinner [diameter]="50"></mat-spinner>
</div>

<div *ngIf="carteGrises.length >= 1">
  <!-- <div class="border-b-4 border-[#E8E8E8] mt-5">
      <p class="bg-[#E8E8E8] text-[#000] w-40 p-2 rounded-[12px_12px_0px_0px]">
        Carte grise :
      </p>
    </div> -->
  <!-- <div class="grid grid-cols-6 gap-4 mt-4">
      <div>
        <p class="text-[#0C8040] text-[11px]">N° carte grise :</p>
        <p class="font-medium">{{ carteGrises["0"]?.n_carte_grise }}</p>
      </div>
      <div>
        <p class="text-[#0C8040] text-[11px]">Date de début :</p>
        <p class="font-medium">{{ carteGrises["0"]?.start_date }}</p>
      </div>
      <div>
        <p class="text-[#0C8040] text-[11px]">Date de fin :</p>
        <p class="font-medium">{{ carteGrises["0"]?.end_date }}</p>
      </div>
      <div>
        <p class="text-[#0C8040] text-[11px]">N° de châssis :</p>
        <p class="font-medium">{{ carteGrises["0"]?.n_chassis }}</p>
      </div>
      <div>
        <p class="text-[#0C8040] text-[11px]">Rappel avant (Jours) :</p>
        <p class="font-medium">{{ carteGrises["0"]?.rappel }}</p>
      </div>
      <div>
        <p class="text-[#0C8040] text-[11px]">Document :</p>
        <a
          href="{{ url + carteGrises['0'].id + '/' }}{{
            carteGrises['0'].file
          }} "
          target="_blank"
          >Document</a
        >

      </div>
    </div> -->

  <div class="overflow-x-auto relative mt-4">
    <table class="w-full text-left text-gray-500" *ngIf="!spinner">
      <thead>
        <tr>
          <th
            *ngFor="let header of headerColumuns"
            scope="col"
            class="p-3 text-[#0C8040] font-normal whitespace-nowrap"
          >
            <div class="flex items-center">
              {{ header }}
            </div>
          </th>
          <th scope="col" class="p-3 text-[#0C8040] font-normal whitespace-nowrap" >
              Actions
            </th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="table-row bg-white whitespace-nowrap border-b border-gray-800"
          *ngFor="let item of carteGrises"
        >
          <td class="p-3">{{ item.n_carte_grise }}</td>
          <td class="p-3">{{ item.start_date | date: 'dd/MM/yyyy' }}</td>
          <td class="p-3">{{ item.end_date | date: 'dd/MM/yyyy' }}</td>
          <td class="p-3">{{ item.n_chassis }}</td>
          <td class="p-3">{{ item.rappel }} j</td>
          <td class="p-3">
            <div>
              <!-- <a
                href="{{ url + item.id + '/' }}{{ item.file }} "
                target="_blank"
                >Document</a
              > -->

              <a *ngIf="item.file" href="{{ url + item.id + '/' }}{{ item.file }} " target="_blank">
                <mat-icon>file_copy</mat-icon>
              </a>
            </div>
          </td>
          <td class="p-3 text-center cursor-pointer">
            <mat-icon mat-button [matMenuTriggerFor]="menu">more_vert</mat-icon>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="editTruckDocument('edit', item)">
                <mat-icon>edit</mat-icon>
                Modifier
              </button>
              <button mat-menu-item (click)="deletTruckDocument(item.uuid)">
                <mat-icon>delete</mat-icon>
                Supprimer
              </button>
            </mat-menu>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
