::ng-deep .mat-dialog-container{
    padding: 0px;
    overflow: hidden;
}
::ng-deep .mat-dialog-title{
    margin-bottom: 0px;
}
::ng-deep .detail-information.mat-menu-panel{
    margin-left: 130px;
}
:host .mat-dialog-content{
    margin-top: 40px;
}
::ng-deep .dialog-carte{
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    margin-bottom: 1.25rem;
}
.piece-jointe{
    border: 1px solid #ccc;
    padding: 10px;
    margin-left: 28px;
    border-radius: 4px;
    width: 86%;
    /* display: none; */
  }
  .custom-file-input {
    position: relative;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    background-color: #f1f1f1;
    border-radius: 5px;
  }

  .file-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    height: 40px;
    cursor: pointer;
  }

  .file-name {
    color: #555;
  }

  .upload-icon {
    color: #999;
  }

  .hidden {
    display: none;
  }

