<div class="dialog">
  <div
    class="grid grid-cols-3 gap-4 bg-[#E9E9E9] rounded-[12px_12px_0px_0px] p-4"
  >
    <h1 mat-dialog-title class="col-span-2">{{ __form_text }}</h1>
    <div class="text-right cursor-pointer" mat-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </div>
  </div>
  <form [formGroup]="horsnormForm" (ngSubmit)="onSubmit()">
    <div mat-dialog-content>
      <mat-form-field appearance="fill" class="w-[100%] mb-4">
        <mat-select
          formControlName="prod_category_id"
          placeholder="Nature de produit"
        >
          <mat-option
            *ngFor="let item of this.productcategory"
            [value]="item.id"
          >
            {{ item.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- <mat-form-field appearance="fill" class="w-[100%] pl-7 pr-7 mb-4">
        <mat-label>Prix de la palette en DH HT</mat-label>
        <input matInput formControlName="price" type="text" />
      </mat-form-field> -->
      <i-field
        [type]="'text'"
        [label]="'Prix de la palette en DH HT'"
        formControlName="price"
      ></i-field>
    </div>
    <div class="grid grid-cols-2 gap-4 mt-5 mb-5 p-4">
      <div>
        <button
          class="underline w-32 pt-2 mr-3 font-bold text-[18px]"
          mat-dialog-close
        >
        Abondonner
        </button>
      </div>
      <div class="text-right">
        <!-- <button
          class="bg-[#0C8040] text-[#fff] border-[#0C8040] rounded-[28px] shadow-[0px_3px_6px_#00000029] w-32 p-4 mr-3 font-bold text-[18px]"
          type="submit"
        >
          {{ __form_btn }}
        </button> -->
          <button
            pButton pRipple 
            type="submit" 
            label="Ajouter"
            class="p-button-rounded p-button-success">
          </button>
      </div>
    </div>
  </form>
</div>
