<div class="grid grid-cols-1 gap-4 sm:grid-cols-3 p-5">
  <div class="col-span-2">
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
      <div
        class="chart-color rounded-[14px] border-[#D1D1D1] shadow-[0px_3px_16px_#00000029] h-[219px]"
      >
        1
      </div>
      <div
        class="chart-color rounded-[14px] border-[#D1D1D1] shadow-[0px_3px_16px_#00000029] h-[219px]"
      >
        2
      </div>
      <div class="chart-colorgreen rounded-[14px] border-[#D1D1D1] shadow-[0px_3px_16px_#00000029] h-[219px] mt-6">
        <div
          class="text-white shadow-[0px_3px_16px_#00000029] pt-3 pl-8 mb-3 inline-flex items-center w-full"
        >
          <mat-icon>search</mat-icon>
          <span class="font-semibold text-[20px] pl-2"
            >Chercher une expédition</span
          >
        </div>
        <div class="relative w-[85%] pl-8 pt-3">
          <input
            type="email"
            class="w-full bg-transparent rounded-[28px] text-[#fff] border-[#DBDBDB] border-[3px] p-2"
            placeholder="N° d'expédition, destination..."
          />

          <span
            class="absolute inset-y-0 inline-flex items-center right-4 top-[10px]"
          >
            <mat-icon class="text-[#fff] cursor-pointer">send</mat-icon>
          </span>
        </div>
      </div>
      <div
        class="chart-colorgreen rounded-[14px] border-[#D1D1D1] shadow-[0px_3px_16px_#00000029] h-[219px] mt-6"
      >
        <div
          class="text-white shadow-[0px_3px_16px_#00000029] pt-5 pl-8 mb-3 inline-flex items-center w-full"
        >
          <mat-icon>insert_drive_file</mat-icon>
          <span class="font-semibold text-[20px] pl-2">Mes factures</span>
        </div>
        <div
          class="text-white shadow-[0px_3px_16px_#00000029] pt-3 pl-8 mb-3 inline-flex items-center w-full"
        >
          <mat-icon>insert_drive_file</mat-icon>
          <span class="font-semibold text-[20px] pl-2"
            >Mes offres commercial</span
          >
        </div>
        <div
          class="text-white shadow-[0px_3px_16px_#00000029] pt-3 pl-8 mb-3 inline-flex items-center w-full"
        >
          <mat-icon>call_made</mat-icon>
          <span class="font-semibold text-[20px] pl-2">Promotions</span>
          <span
            class="bg-[#F0F80D] ml-3 w-9 h-9 text-[#0C8040] text-center leading-[2] border-[#707070] rounded-[50%] shadow-[0px_3px_6px_#00000059] font-bold"
            >2</span
          >
          <span class="pl-2 shadow-[0px_3px_16px_#00000029] text-[#FFFFFF]"
            >Consulter</span
          >
        </div>
      </div>
    </div>
  </div>
  <div
    class="chart-color rounded-[14px] border-[#D1D1D1] shadow-[0px_3px_16px_#00000029]"
  >
    05
  </div>
</div>
