<div class="dialog" *ngIf="type == 'confirmation'">
  <div
    class="grid grid-cols-3 gap-4 bg-[#E9E9E9] rounded-[12px_12px_0px_0px] p-4"
  >
    <h2 mat-dialog-title class="col-span-2">Récapitulatif</h2>
    <div class="text-right cursor-pointer" mat-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </div>
  </div>
  <div mat-dialog-content class="h-80 max-h-80">
    <h1 class="text-center font-normal text-[22px]">
      Merci de confirmer la creation des villes de transit
    </h1>
    <!-- <p>{{ axe.code }} -- {{ axe.title }}</p> -->
    <div class="w-fit">
      <div class="grid grid-cols-2 gap-4 mt-5 ml-4 mr-4 mb-8">
        <div>
          <div class="flex">
            <mat-icon class="text-[#636363]">local_shipping</mat-icon>
            <h2 class="text-[#636363] font-normal pl-2 text-[14px]">
              {{ cityName(axe.passage[0].city_id).name }}
            </h2>
          </div>
          <p class="text-left">Départ : {{ axe.passage[0].hour_depart }}</p>
        </div>
        <div>
          <div class="flex justify-end">
            <mat-icon class="text-[#636363]">outlined_flag</mat-icon>
            <h2 class="text-[#636363] font-normal pl-2 text-[14px]">
              {{ cityName(axe.passage[axe.passage.length - 1].city_id).name }}
            </h2>
          </div>
          <p class="text-right">
            Arrivé : {{ axe.passage[axe.passage.length - 1].hour_arrivee }}
          </p>
        </div>
      </div>

      <div class="ml-5 mr-5 mb-5 relative w-width">
        <div class="rounded-full">
          <div class="border-dashed"></div>
        </div>
        <div class="flex justify-between w-full gap-36">
          <div class="relative bottom-[17px]">
            <mat-icon class="text-[#0C8040]">radio_button_checked</mat-icon>
          </div>
          <div class="relative" *ngFor="let i of passageConfirmation()">
            <div>
              <p class="absolute bottom-5">
                <mat-icon class="text-[#0C8040]">place</mat-icon>
              </p>
            </div>
            <div class="absolute top-5 w-36">
              <h2 class="mb-0 text-size">{{ cityName(i.city_id).name }}</h2>
              <div class="flex h-5">
                <mat-icon class="text-[#0C8040] text-[14px] pt-2"
                  >access_time</mat-icon
                >
                <h2 class="text-[#636363] font-normal text-size">
                  Arrivéé : {{ i.hour_arrivee }}
                </h2>
              </div>
              <div class="flex h-5">
                <mat-icon class="text-[#0C8040] text-[14px] pt-2"
                  >access_time</mat-icon
                >
                <h2 class="text-[#636363] font-normal text-size">
                  Départ : {{ i.hour_depart }}
                </h2>
              </div>
              <div class="flex h-5">
                <mat-icon class="text-[#0C8040] text-[14px] pt-2"
                  >hourglass_empty</mat-icon
                >
                <h2 class="text-[#636363] font-normal text-size">
                  Temps d’arrêt : {{ i.temps_arret }}
                </h2>
              </div>
            </div>
          </div>
          <div class="relative bottom-[17px]">
            <mat-icon class="text-[#0C8040]">radio_button_checked</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-2 gap-4 mt-5 mb-5 p-4">
    <div>
      <button
        class="cursor-pointer underline w-32 p-4 mr-3 font-bold text-[18px]"
        mat-dialog-close
      >
      Abondonner
      </button>
    </div>
    <div class="flex justify-end">
      <button
        class="cursor-pointer bg-[#0C8040] text-[#fff] border-[#0C8040] rounded-[28px] shadow-[0px_3px_6px_#00000029] w-32 p-4 mr-3 font-bold text-[18px]"
        type="submit"
        (click)="addAxe()"
        *ngIf="!spinner"
      >
        Confirmer
      </button>
      <span *ngIf="spinner">
        <mat-spinner [diameter]="40"></mat-spinner>
      </span>
    </div>
  </div>
</div>

<div class="dialog" *ngIf="type == 'details'">
  <div
    class="grid grid-cols-3 gap-4 bg-[#E9E9E9] rounded-[12px_12px_0px_0px] p-4"
  >
    <h2 mat-dialog-title class="col-span-2">Récapitulatif</h2>
    <div class="text-right cursor-pointer" mat-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </div>
  </div>
  <div mat-dialog-content class="h-80 max-h-80 content-recapitutatif">
    <h1 class="text-center font-normal text-[22px]">
      {{ axe.code }}
    </h1>
    <div class="w-fit">
      <!-- <p>{{ axe.code }} -- {{ axe.title }}</p> -->
      <div class="grid grid-cols-2 gap-4 mt-5 ml-4 mr-4 mb-8">
        <div>
          <div class="flex">
            <mat-icon class="text-[#636363]">local_shipping</mat-icon>
            <h2 class="text-[#636363] font-normal pl-2 text-[14px]">
              {{ axe.passage[0].name }}
            </h2>
          </div>
          <p class="text-left">
            Départ : {{ axe.passage[0].pivot.hour_depart }}
          </p>
        </div>
        <div>
          <div class="flex justify-end">
            <mat-icon class="text-[#636363]">outlined_flag</mat-icon>
            <h2 class="text-[#636363] font-normal pl-2 text-[14px]">
              {{ axe.passage[axe.passage.length - 1].name }}
            </h2>
          </div>
          <p class="text-right">
            Arrivé :
            {{ axe.passage[axe.passage.length - 1].pivot.hour_arrivee }}
          </p>
        </div>
      </div>

      <div class="ml-5 mr-5 mb-5 relative w-width">
        <div class="rounded-full">
          <div class="border-dashed"></div>
        </div>
        <div class="flex justify-between w-full gap-36">
          <div class="relative bottom-[17px]">
            <mat-icon class="text-[#0C8040]">radio_button_checked</mat-icon>
          </div>
          <div class="relative" *ngFor="let i of passage()">
            <div>
              <p class="absolute bottom-5">
                <mat-icon class="text-[#0C8040]">place</mat-icon>
              </p>
            </div>
            <!-- <div class="relative">
              <p class="absolute bottom-2 right-[59px]">2h</p>
              <mat-icon
                class="text-[#0C8040] absolute -bottom-[13px] right-[61px]"
                >chevron_right</mat-icon
              >
            </div> -->
            <div class="absolute top-5 w-36">
              <h2 class="mb-0 text-size">{{ i.name }}</h2>
              <div class="flex h-5">
                <mat-icon class="text-[#0C8040] text-[14px] pt-2"
                  >access_time</mat-icon
                >
                <h2 class="text-[#636363] font-normal text-size">
                  Arrivéé : {{ i.pivot.hour_arrivee }}
                </h2>
              </div>
              <div class="flex h-5">
                <mat-icon class="text-[#0C8040] text-[14px] pt-2"
                  >access_time</mat-icon
                >
                <h2 class="text-[#636363] font-normal text-size">
                  Départ : {{ i.pivot.hour_depart }}
                </h2>
              </div>
              <div class="flex h-5">
                <mat-icon class="text-[#0C8040] text-[14px] pt-2"
                  >hourglass_empty</mat-icon
                >
                <h2 class="text-[#636363] font-normal text-size">
                  Temps d’arrêt : {{ i.pivot.temps_arret }}
                </h2>
              </div>
            </div>
            <!-- <div class="chevron">
            <p class="absolute bottom-10 w-20">{{ diffTime(i.pivot.hour_arrivee,i.pivot.hour_depart) }}</p>
            <mat-icon class="text-[#0C8040]">chevron_right</mat-icon>
          </div> -->
          </div>
          <!-- <div class="relative">
          <p class="absolute bottom-10 w-20">2h 30min</p>
          <mat-icon class="text-[#0C8040]">chevron_right</mat-icon>
        </div> -->
          <div class="relative bottom-[17px]">
            <mat-icon class="text-[#0C8040]">radio_button_checked</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-2 gap-4 mt-5 mb-5 p-4">
    <div>
      <button
        class="cursor-pointer underline w-32 p-4 mr-3 font-bold text-[18px]"
        mat-dialog-close
      >
      Abondonner
      </button>
    </div>
  </div>
</div>
