<div
  class="bg-[#fff] shadow-[0px_3px_30px_#00000029] rounded-[20px] ml-6 mr-6 p-6"
>
  <div class="grid grid-cols-2 gap-2">
    <div>
      <div class="flex col-start-1 col-end-3 cursor-pointer" (click)="goBack()">
        <mat-icon>keyboard_backspace</mat-icon>

        <h2 class="text-[#0C8040] font-semibold pl-2">Retour</h2>
      </div>
    </div>
    <!-- <div
      class="flex col-end-7 col-span-2 justify-end cursor-pointer text-[14px]"
    >
      <mat-icon class="text-[#959595]">unfold_more</mat-icon>

      <h2 class="text-[#959595] font-normal pl-2 text-[14px]">
        Minimiser la carte
      </h2>
    </div> -->
  </div>
  <div
    *ngIf="!spinner"
    style="height: 300px"
    leaflet
    [(leafletCenter)]="mapCenter"
    (leafletMapReady)="onMapReady($event)"
    [leafletOptions]="options"
  ></div>

  <!-- <div class="h-[300px] bg-slate-400"></div> -->
  <div *ngIf="spinner" class="flex items-center justify-center mt-6 mb-6">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
  <div
    *ngIf="!spinner"
    class="flex flex-row justify-between pl-3 pr-3 bg-white mb-5 shadow-[0px_3px_20px_#00000029] rounded-[18px] h-[103px]"
  >
    <div class="flex place-items-center align-middle items-center width-info">
      <div class="pl-2 place-items-center items-center">
        <p class="text-[12px] text-[#000000]">{{ tournee?.id }}</p>
      </div>
    </div>
    <mat-divider [vertical]="true" class="mx-auto"></mat-divider>
    <div class="block width-content mt-3">
      <div class="flex items-center">
        <div class="icon ml-4">
          <mat-icon class="text-[19px] text-[#138742]">place</mat-icon>
        </div>
        <div class="pl-3">
          <p class="text-[#b5b5b5] text-[10px]">Ville:</p>
          <p class="text-[12px] text-[#000000]">
            {{ tournee?.zone?.city?.name }}
          </p>
        </div>
      </div>
      <div class="flex items-center">
        <div class="icon ml-4">
          <mat-icon class="text-[19px] text-[#138742]">my_location</mat-icon>
        </div>
        <div class="pl-3">
          <p class="text-[#b5b5b5] text-[10px]">Zone :</p>
          <p class="text-[12px] text-[#000000]">{{ tournee?.zone?.name }}</p>
        </div>
      </div>
    </div>
    <mat-divider [vertical]="true" class="mx-auto"></mat-divider>
    <div class="block width-content mt-3">
      <div class="flex items-center">
        <div class="icon ml-4">
          <mat-icon class="text-[19px] text-[#138742]">access_time</mat-icon>
        </div>
        <div class="pl-3">
          <p class="text-[#b5b5b5] text-[10px]">Date et heure de départ :</p>
          <p class="text-[12px] text-[#000000]">{{ tournee?.start_time }}</p>
        </div>
      </div>
      <div class="flex items-center">
        <div class="icon ml-4">
          <mat-icon class="text-[19px] text-[#138742]">access_time</mat-icon>
        </div>
        <div class="pl-3">
          <p class="text-[#b5b5b5] text-[10px]">Date et heure d'arrivée :</p>
          <p class="text-[12px] text-[#000000]">{{ tournee?.end_time }}</p>
        </div>
      </div>
    </div>
    <mat-divider [vertical]="true" class="mx-auto"></mat-divider>
    <div class="block width-content mt-3">
      <div class="flex items-center">
        <div class="icon ml-4">
          <mat-icon class="text-[19px] text-[#138742]">perm_identity</mat-icon>
        </div>
        <div class="pl-3">
          <p class="text-[#b5b5b5] text-[10px]">Chauffeur :</p>
          <p class="text-[12px] text-[#000000]">{{ tournee?.driver?.name }}</p>
        </div>
      </div>
      <div class="flex items-center">
        <div class="icon ml-4">
          <mat-icon class="text-[19px] text-[#138742]"
            >transfer_within_a_station</mat-icon
          >
        </div>
        <div class="pl-3">
          <p class="text-[#b5b5b5] text-[10px]">Ramasseur :</p>
          <p class="text-[12px] text-[#000000]">{{ tournee?.driver?.name }}</p>
        </div>
      </div>
    </div>
    <mat-divider [vertical]="true" class="mx-auto"></mat-divider>
    <div class="block width-content mt-3">
      <div class="flex items-center">
        <div class="icon ml-4">
          <mat-icon class="text-[19px] text-[#138742]">local_shipping</mat-icon>
        </div>
        <div class="pl-3">
          <p class="text-[#b5b5b5] text-[10px]">Véhicule :</p>
          <p class="text-[12px] text-[#000000]">
            {{ tournee?.truck?.tonnage }} T
          </p>
        </div>
      </div>
      <div class="flex items-center">
        <div class="icon ml-4">
          <mat-icon class="text-[19px] text-[#138742]">subtitles</mat-icon>
        </div>
        <div class="pl-3">
          <p class="text-[#b5b5b5] text-[10px]">Matricule :</p>
          <p class="text-[12px] text-[#000000]">
            {{ tournee?.truck?.matricule }}
          </p>
        </div>
      </div>
    </div>
    <mat-divider [vertical]="true" class="mx-auto"></mat-divider>
    <div class="block width-content mt-3">
      <div class="flex items-center">
        <div class="icon ml-4">
          <mat-icon class="text-[19px] text-[#138742]">where_to_vote</mat-icon>
        </div>
        <div class="pl-3">
          <p class="text-[#b5b5b5] text-[10px]">Nombre de passages :</p>
          <p class="text-[12px] text-[#000000]">
            {{ tournee?.items.length }}
            <!-- (Total colis:
            {{ tournee?.expedition_items_count }} Colis) -->
          </p>
        </div>
      </div>
      <div class="flex items-center">
        <div class="icon ml-4">
          <mat-icon class="text-[19px] text-[#138742]">bar_chart</mat-icon>
        </div>
        <div class="pl-3">
          <p class="text-[#b5b5b5] text-[10px]">Progression:</p>
          <p class="text-[12px] text-[#000000]">
            <mat-progress-bar
              mode="determinate"
              value="{{ tournee?.progression }}"
            ></mat-progress-bar>
          </p>
        </div>
      </div>
    </div>
    <mat-divider [vertical]="true" class="mx-auto"></mat-divider>
    <div class="flex items-center pl-4 justify-end">
      <span
        *ngIf="tournee.status === 'INITIALIZED'"
        class="text-white bg-orange-400 px-3 py-2 rounded-[20px] mr-5"
        >Initié
      </span>
      <span
        *ngIf="tournee.status === 'PLANED'"
        class="text-white bg-[#728FCE] px-3 py-2 rounded-[20px] mr-2"
        >Planifié
      </span>
      <span
        *ngIf="tournee.status === 'STARTED'"
        class="text-white bg-green-500 px-3 py-2 rounded-[20px] mr-2"
        >Démarré
      </span>
      <span
        *ngIf="tournee.status === 'DONE'"
        class="text-white bg-red-400 px-3 py-2 rounded-[20px] mr-2"
        >Cloturé
      </span>
      <!-- <button
        class="group flex items-center justify-between rounded-3xl border border-[#D68F00] px-3 py-2 mr-2"
      >
        <span class="mr-1">
          <mat-icon class="text-[#D68F00]">access_time</mat-icon>
        </span>
        <span class="font-medium text-[#D68F00] mr-2"> Initiée </span>
      </button> -->
    </div>
  </div>
  <ng-container *ngIf="!spinner">
    <mat-accordion *ngFor="let item of tournee?.sector_passages">
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title class="flex items-center">
            <mat-icon class="text-[#0C8040]">pin_drop</mat-icon>
            <h2 class="font-semibold pl-2 mb-0">
              Secteur :
              <span class="text-[#0C8040]"
                >{{ item.name }}
                <!-- ({{ item.expedetions.length }}) -->
              </span>
            </h2>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="detail-tourne">
          <div
            class="flex flex-row justify-between pl-3 pr-3 bg-white mb-5 shadow-[0px_3px_20px_#00000029] rounded-[18px] h-[75px] cursor-pointer"
            *ngFor="let passage of item.passages"
          >
            <div
              class="block width-content flex items-center content-center pl-3"
            >
              <span
                *ngIf="passage?.passage_type === 'REGULAR'"
                class="text-white bg-green-500 px-3 py-2 rounded-[20px] mr-5"
                >génération d’un passage planifié
              </span>
              <span
                *ngIf="passage?.passage_type === 'PICKUP'"
                class="text-white bg-[#728FCE] px-3 py-2 rounded-[20px] mr-2"
                >Ramassage
              </span>
              <span
                *ngIf="passage?.passage_type === 'DRAFT'"
                class="text-white bg-orange-400 px-3 py-2 rounded-[20px] mr-2"
                >Rappel BO
              </span>
            </div>
            <mat-divider [vertical]="true" class="mx-auto"></mat-divider>
            <div class="block width-content mt-3">
              <div class="flex items-center">
                <div class="pl-3">
                  <p class="text-[#b5b5b5] text-[10px]">Client:</p>
                  <p class="text-[12px] text-[#000000]">
                    {{
                      passage?.customer?.first_name ||
                        passage?.customer?.last_name
                    }}
                  </p>
                </div>
              </div>
            </div>
            <mat-divider [vertical]="true" class="mx-auto"></mat-divider>
            <!-- <div class="block width-content mt-3">
              <div class="flex items-center">
                <div class="pl-3">
                  <p class="text-[#b5b5b5] text-[10px]">Type: Ramassage</p>
                  <p class="text-[12px] text-[#000000]">3 Colis, 1 Palette</p>
                </div>
              </div>
            </div>
            <mat-divider [vertical]="true" class="mx-auto"></mat-divider> -->
            <div class="block width-content mt-3">
              <div class="flex items-center">
                <div class="pl-3">
                  <p class="text-[#b5b5b5] text-[10px]">Heure de ramassage</p>
                  <p class="text-[12px] text-[#000000]">
                    {{ passage?.pickup_houre }}
                  </p>
                </div>
              </div>
            </div>
            <mat-divider [vertical]="true" class="mx-auto"></mat-divider>
            <div class="block width-content mt-3">
              <div class="flex items-center">
                <div class="pl-2">
                  <p class="text-[#b5b5b5] text-[10px]">
                    Addresse de ramassage
                  </p>
                  <p class="text-[12px] text-[#000000]">
                    {{ passage?.pickup_adresse?.adress }}
                  </p>
                </div>
              </div>
            </div>
            <mat-divider [vertical]="true" class="mx-auto"></mat-divider>
            <div class="block width-content mt-3">
              <div class="flex items-center">
                <div class="pl-3">
                  <p class="text-[#b5b5b5] text-[10px]">Nombre d'expéditions</p>
                  <p class="text-[12px] text-[#000000]">
                    {{ passage?.expeditions?.length || "--" }}
                  </p>
                </div>
              </div>
            </div>
            <mat-divider [vertical]="true" class="mx-auto"></mat-divider>
            <!-- <div class="block width-content mt-3">
              <div class="flex items-center">
                <div class="pl-3">
                  <p class="text-[#b5b5b5] text-[10px]">Destinataire</p>
                  <p class="text-[12px] text-[#000000]">
                    {{ exp?.expedition?.receiver?.first_name }}
                  </p>
                </div>
              </div>
            </div>
            <mat-divider [vertical]="true" class="mx-auto"></mat-divider>
            <div class="block width-content mt-3">
              <div class="flex items-center">
                <div class="pl-3">
                  <p class="text-[#b5b5b5] text-[10px]">Adresse</p>
                  <p class="text-[12px] text-[#000000]">
                    {{ exp?.expedition?.adress_delivery }}
                  </p>
                </div>
              </div>
            </div>
            <mat-divider [vertical]="true" class="mx-auto"></mat-divider> -->
            <div
              class="block width-content flex items-center content-center pl-3"
            >
              <!-- <button
                class="group flex items-center justify-between rounded-3xl border border-[#D68F00] px-3 py-2 mr-2"
              >
                <span class="mr-1">
                  <mat-icon class="text-[#D68F00]">access_time</mat-icon>
                </span>
                <span class="font-medium text-[#D68F00] mr-2">
                  {{ passage.status }}
                </span>
              </button> -->

              <span
                *ngIf="passage?.status === 'INIT'"
                class="text-white bg-orange-400 px-3 py-2 rounded-[20px] mr-5"
                >En attente
              </span>
              <span
                *ngIf="passage?.status === 'STARTED'"
                class="text-white bg-[#728FCE] px-3 py-2 rounded-[20px] mr-2"
                >En cours
              </span>
              <span
                *ngIf="passage?.status === 'DONE'"
                class="text-white bg-green-500 px-3 py-2 rounded-[20px] mr-2"
                >Terminé
              </span>
            </div>
            <mat-divider [vertical]="true" class="mx-auto"></mat-divider>
            <div class="flex items-center pl-4 justify-end">
              <mat-icon class="cursor-pointer ml-4 text-[19px] text-[#138742]"
                >menu</mat-icon
              >
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-container>
</div>
