<div class="bg-[#fff] shadow-[0px_3px_30px_#00000029] rounded-[20px] ml-6 mr-6 p-6 h-full">
  <div class="grid grid-cols-2 gap-2 mb-4">
    <!-- <div> -->
    <div class="flex">
      <mat-icon class="pt-1">description</mat-icon>
      <h2 class="text-[#0C8040] font-semibold pl-2">Dépense</h2>
    </div>
    <!-- <div class="flex justify-end">
      <div class="flex cursor-pointer mr-4" *ngIf="permissionService.hasPermission('Configuration', 'Paramètre', 'R')">
        <mat-icon class="pt-[5px]">cloud_download</mat-icon>
        <h2 class="text-[#0C8040] font-semibold pl-2" (click)="exportExcel()">Exporter</h2>
      </div>
    </div> -->
  </div>

  <div>
    <div class="grid grid-cols-2 gap-8">
      <div class="bg-white shadow-[0px_3px_20px_#00000029] rounded-[18px]">
        <div
          class="grid grid-cols-4 gap-3 bg-[#D9674E] shadow-[0px_3px_20px_#00000029] text-white font-medium rounded-[18px_18px_0px_0px] p-3">
          <div class="col-span-2">
            <p>Fournisseur</p>
          </div>
          <div class="text-center">
            <span class="text-[#fff]">{{ fournisseurs?.length }}</span>
          </div>
          <div class="cursor-pointer text-right">
            <mat-icon (click)="addSupplier()"
              *ngIf="permissionService.hasPermission('Configuration', 'Paramètre', 'C')"
              class="mr-2">add_circle_outline</mat-icon>
            <!-- <mat-icon (click)="exportExcel('Fournisseur')"
              *ngIf="permissionService.hasPermission('Configuration', 'Paramètre', 'R')">
              cloud_download
            </mat-icon> -->
          </div>
        </div>
        <div class="grid grid-cols-1 gap-3 pt-3 pl-3 pr-3 pb-0">
          <div *ngIf="suppliersSpinner" class="flex items-center justify-center mt-6 mb-6">
            <mat-spinner [diameter]="50"></mat-spinner>
          </div>
          <div class="max-h-40 h-40 overflow-auto" *ngIf="!suppliersSpinner">
            <div *ngFor="let item of fournisseurs">
              <div class="grid grid-cols-2 gap-3 pt-3 pl-3 pr-3 pb-0">
                <div>
                  <p class="text-[#636363]">{{ item.name }}</p>
                </div>
                <div class="text-right cursor-pointer">
                  <mat-icon mat-button [matMenuTriggerFor]="menu">more_vert</mat-icon>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="addSupplier('edit', item)"
                      *ngIf="permissionService.hasPermission('Configuration', 'Paramètre', 'U')">
                      <mat-icon>edit</mat-icon>
                      Modifier
                    </button>
                    <button mat-menu-item (click)="deleteSupplier(item.uuid)"
                      *ngIf="permissionService.hasPermission('Configuration', 'Paramètre', 'D')">
                      <mat-icon>delete</mat-icon>
                      Supprimer
                    </button>
                  </mat-menu>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="border-t-2 border-[#00000029]"></div>
          <div class="flex cursor-pointer justify-center"
            *ngIf="permissionService.hasPermission('Configuration', 'Paramètre', 'R')">
            <mat-icon class="pt-[5px] text-[20px]">remove_red_eye</mat-icon>
            <h2 class="font-semibold text-size mb-detail" (click)="detailsDoc('Fournisseur')">
              Afficher
            </h2>
          </div> -->
        </div>
      </div>
      <div class="bg-white shadow-[0px_3px_20px_#00000029] rounded-[18px]">
        <div
          class="grid grid-cols-4 gap-3 bg-[#32508C] shadow-[0px_3px_20px_#00000029] text-white font-medium rounded-[18px_18px_0px_0px] p-3">
          <div class="col-span-2">
            <p>Nature de dépense</p>
          </div>
          <div class="text-center">
            <span class="text-[#fff]">{{ natures?.length }}</span>
          </div>
          <div class="cursor-pointer text-right">
            <mat-icon (click)="addExpenseNature()" class="mr-2"
              *ngIf="permissionService.hasPermission('Configuration', 'Paramètre', 'C')">add_circle_outline</mat-icon>
            <!-- <mat-icon (click)="exportExcel('Nature')"
              *ngIf="permissionService.hasPermission('Configuration', 'Paramètre', 'R')">cloud_download</mat-icon> -->
          </div>
        </div>
        <div class="grid grid-cols-1 gap-3 pt-3 pl-3 pr-3 pb-0">
          <div *ngIf="naturesSpinner" class="flex items-center justify-center mt-6 mb-6">
            <mat-spinner [diameter]="50"></mat-spinner>
          </div>
          <div class="max-h-40 h-40 overflow-auto" *ngIf="!naturesSpinner">
            <div *ngFor="let item of natures">
              <div class="grid grid-cols-2 gap-3 pt-3 pl-3 pr-3 pb-0">
                <div>
                  <p class="text-[#636363]">{{ item.name }}</p>
                </div>
                <div class="text-right cursor-pointer">
                  <mat-icon mat-button [matMenuTriggerFor]="menu">more_vert</mat-icon>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="addExpenseNature('edit', item)"
                      *ngIf="permissionService.hasPermission('Nature', 'Paramètre', 'U')">
                      <mat-icon>edit</mat-icon>
                      Modifier
                    </button>
                    <button mat-menu-item (click)="deleteExpenseNature(item.uuid)"
                      *ngIf="permissionService.hasPermission('Configuration', 'Paramètre', 'D')">
                      <mat-icon>delete</mat-icon>
                      Supprimer
                    </button>
                  </mat-menu>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="border-t-2 border-[#00000029]"></div>
          <div class="flex cursor-pointer justify-center"
            *ngIf="permissionService.hasPermission('Configuration', 'Paramètre', 'R')">
            <mat-icon class="pt-[5px] text-[20px]">remove_red_eye</mat-icon>
            <h2 class="font-semibold text-size mb-detail" (click)="detailsDoc('Nature')">
              Afficher
            </h2>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
