<div class="bg-[#fff] shadow-[0px_3px_30px_#00000029] rounded-[20px] ml-6 mr-6 p-6">
  <div class="grid grid-cols-2 gap-2">
    <div class="flex justify-between">
      <div class="flex">
        <mat-icon class="pt-[5px]">local_shipping</mat-icon>
        <h2 class="text-[#0C8040] font-semibold pl-2">Gestion des véhicules</h2>
      </div>
      <div class="flex items-baseline" *ngIf="!spinner">
        <p class="text-base font-medium">Nombre de véhicules globaux :</p>
        <h2 class="text-[#0C8040] font-semibold pl-2">{{ total }}</h2>
      </div>
    </div>
    <div class="flex justify-end">
      <div class="flex cursor-pointer mr-4">
        <mat-icon class="pt-[5px]" [matMenuTriggerFor]="menu">cloud_download</mat-icon>
        <!-- <h2 class="text-[#0C8040] font-semibold pl-2" (click)="exportExcel()">Exporter</h2> -->

        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="exportExcel()">
            <span>Exporter</span>
          </button>
          <button mat-menu-item (click)="exportExcelDetails()">
            <span>Exporter Détails</span>
          </button>
        </mat-menu>
      </div>
      <div class="flex cursor-pointer" *ngIf="permissionService.hasPermission('Gestion de parc', 'Véhicules', 'C')">
        <mat-icon class="pt-[5px]">add_circle</mat-icon>
        <h2 class="text-[#0C8040] font-semibold pl-2" (click)="openDialog('add', '')">Ajouter</h2>
      </div>
    </div>
  </div>

  <div class="grid">
    <app-shared-filter [inputs]="inputsFiler" [extraInputs]="extraInputsFilter"
      (filter)="filtrer($event)"></app-shared-filter>
  </div>

  <div *ngIf="spinner" class="flex items-center justify-center mt-6 mb-6">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>

  <div class="overflow-x-auto relative mt-4" *ngIf="!spinner">
    <ng-container>
      <table class="w-full text-left text-gray-500">
        <thead>
          <tr>
            <th scope="col" class="p-2 text-[#0C8040] font-normal whitespace-nowrap">
              <div>Actions</div>
            </th>
            <th *ngFor="let header of headerColumuns" scope="col"
              class="p-2 text-[#0C8040] font-normal whitespace-nowrap">
              <div class="flex items-center">
                {{ header }}
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-row bg-white whitespace-nowrap border-b border-gray-800" *ngFor="let item of vehicules">
            <td class="p-2 flex">
              <!-- <button class="bg-[#E3FFDF] text-[#636363] p-2" >
                  Détails
                </button> -->
              <mat-icon mat-button [matMenuTriggerFor]="menu" class="align-middle cursor-pointer">
                more_vert
              </mat-icon>
              <mat-icon [matTooltip]="'Détails'" class="cursor-pointer" (click)="detailsVehi(item.uuid)">
                remove_red_eye
              </mat-icon>
            </td>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="openDialog('edit', item)"
                *ngIf="permissionService.hasPermission('Gestion de parc', 'Véhicules', 'U')">
                <mat-icon>edit</mat-icon>
                Éditer</button><!---->
              <button mat-menu-item (click)="RemplacerDialog(item)"
                *ngIf="permissionService.hasPermission('Gestion de parc', 'Véhicules', 'U')">
                <mat-icon>autorenew</mat-icon>
                Remplacer
              </button>
              <button mat-menu-item (click)="deletTruck(item.uuid)"
                *ngIf="permissionService.hasPermission('Gestion de parc', 'Véhicules', 'D')">
                <mat-icon>delete</mat-icon>
                Supprimer
              </button>
            </mat-menu>
            <!-- <td class="p-2">{{ item.created_at | date: 'dd/MM/yyyy' }}</td>
              <td class="p-2">{{ item.user_id == null ? "SYSTEME" :   item.user?.name  }}</td> -->
            <td class="p-2">{{ item.city?.name }}</td>
            <td class="p-2">{{ item.parc?.name }}</td>
            <td class="p-2">{{ item?.activity }}</td>
            <td class="p-2" [matTooltip]="joinService(item.services)" matTooltipPosition="above"> {{
              joinService(item?.services) | truncate: [15, "..."] }}
            </td>
            <td class="p-2">{{ item?.code_interne }}</td>
            <td class="p-2">{{ item?.matricule }}</td>
            <td class="p-2">{{ item?.brand?.name }}</td>
            <td class="p-2">{{ item?.gamme?.name }}</td>
            <td class="p-2">{{ item?.truck_type?.name }}</td>
            <td class="p-2">{{ item?.tonnage?.name }} T</td>
            <td class="p-2">{{ item?.modele?.name }}</td>
            <td class="p-2">{{ item?.date_circulation | date: 'dd/MM/yyyy'}}</td>
            <td class="p-2">{{ item?.date_entree_vehicule | date: 'dd/MM/yyyy'}}</td>
            <td class="p-2">{{ item?.km_reel }} Km</td>
            <td class="p-2">{{ item?.carburant }}</td>
            <td class="p-2">
              <div class="flex flex-row  items-center">
                <div [ngStyle]="{'background': getColorByStatus(item?.last_status?.status)}" class="w-3 h-3 mr-2"></div>
                <span>{{ item?.last_status?.status }}</span>
              </div>
            </td>
            <!-- <td class="p-2">{{ item.status }}</td> -->
          </tr>
        </tbody>
      </table>
    </ng-container>
  </div>
  <div class="mt-10"  >
    <p-paginator [rows]="pagination?.pageSize" [totalRecords]="pagination?.totalItems"
      (onPageChange)="paginate($event)" [rowsPerPageOptions]="[10 , 25 , 50 , 100]">
    </p-paginator>
  </div>
  <!-- <div class="mt-10" *ngIf="!spinner">
    <app-pagination [Links]="links" (getPage)="getTheNext($event)"></app-pagination>
  </div> -->
</div>

<mat-menu #menu="matMenu">
  <div class="p-2" (click)="$event.stopPropagation()">
    <label class="block mb-2 font-medium text[#0C8040" for="excel_file">Importer un fichier</label>
    <input
      class="block w-full text-sm text-black bg-white rounded-[28px] border-[3px] border-[#DBDBDB] cursor-pointer focus:outline-none dark:placeholder-gray-400 p-4"
      id="excel_file" type="file"
      accept=".xls,.xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel" />
    <!-- add check boxe for update mode -->
    <div class="grid grid-cols-2 mt-5">
      <div><button class="underline">Guide</button></div>
      <div class="text-right">
        <button mat-button class="bg-btn-green text-[18px] text-white p-2">
          Importer
        </button>
      </div>
    </div>
  </div>
</mat-menu>
