<div class="p-4">
  <h1 class="text-[#06152B] text-[22px] font-normal">TVA + Taxe</h1>
  <div class="grid grid-cols-1 sm:grid-cols-8">
    <div class="mt-5">
      <p class="text-[#8E8E8E] text-[16px] pb-2">TVA :</p>
      <nav class="flex">
        <span *ngIf="spinnerTva">
          <mat-spinner [diameter]="40"></mat-spinner>
        </span>
        <h1 *ngIf="!spinnerTva"
          class="text-[#000000] text-[18px] font-normal cursor-pointer"
          (click)="openTva(tva)"
        >
          {{ valeurTva }}% <span><mat-icon>edit</mat-icon></span>
        </h1>
      </nav>
    </div>
    <div class="mt-5">
      <p class="text-[#8E8E8E] text-[16px] pb-2">TAXE :</p>
      <nav class="flex">
        <span *ngIf="spinnerTaxe">
          <mat-spinner [diameter]="40"></mat-spinner>
        </span>
        <h1 *ngIf="!spinnerTaxe"
          class="text-[#000000] text-[18px] font-normal cursor-pointer"
          (click)="openTaxe(taxe)"
        >
          {{ valeurTaxe }}% <span><mat-icon>edit</mat-icon></span>
        </h1>
      </nav>
    </div>
  </div>
</div>

