<div class="dialog">
  <div class="grid grid-cols-3 gap-4 bg-[#E9E9E9] rounded-[12px_12px_0px_0px] p-4">
    <h2 mat-dialog-title class="col-span-2">Validation des documents</h2>
    <div class="text-right cursor-pointer" mat-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </div>
  </div>
  <div mat-dialog-content class="dialog-carte">
    <ng-container *ngIf="demandePiece$ | async as demandePieceState">
      <div *ngIf="demandePieceState?.bonSortieState =='LOADING'" class="flex items-center justify-center mt-6">
        <mat-spinner [diameter]="80"></mat-spinner>
      </div>
      <ng-container *ngIf="demandePieceState?.bonSortieState == 'SUCCESS'">
        <ng-container *ngIf="demandePieceState?.bonSortie as bonSortie">
          <div class="flex justify-center items-center w-5/12 rounded-lg h-14 text-white mx-auto">
            <h2>Livraison {{bonSortie?.type =='PARTIAL' ? 'Partielle' : 'Totale'}}</h2>
          </div>
          <div class="flex justify-center items-center bg-[#00688E] w-5/12 rounded-lg h-14 text-white mx-auto"
            (click)="printBonCommande(bonSortie?.path)">
            <mat-icon>shopping_cart</mat-icon>
            <p class="pl-2">Demande de sortie N° {{bonSortie?.bon_sortie || '---'}}</p>
            <p class="pl-5"><mat-icon class="cursor-pointer">print</mat-icon></p>
          </div>
          <div class="mt-10">
            <ng-container *ngIf="bonSortie?.data?.length>0">
              <table class="w-full text-left text-gray-500">
                <thead>
                  <tr>
                    <th *ngFor="let header of headerColumuns" scope="col"
                      class="p-3 text-[#0C8040] font-normal whitespace-nowrap">
                      <div class="flex items-center">
                        {{ header }}
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-row bg-white whitespace-nowrap border-b border-gray-800"
                    *ngFor="let item of bonSortie?.data">
                    <td class="p-3">{{(item?.designation) || '---'}}</td>
                    <td class="p-3">{{(item?.reference_achat) || '---'}}</td>
                    <td class="p-3">{{(item?.quantite) || 0}} </td>
                    <td class="p-3">{{(item?.prix_unitaire | number) || 0}} </td>
                    <td class="p-3">{{(item?.montant_ht | number) || 0}} </td>
                    <td class="p-3">{{(item?.tva | number) || 0}} </td>
                    <td class="p-3">{{(item?.montant_ttc | number) || 0}} </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td class="p-3 text-[#0C8040] font-medium">Total</td>
                    <td class="p-3 text-[#0C8040] font-medium">{{(calculateSum(bonSortie?.data, 'prix_unitaire') ) || 0}} Dhs</td>
                    <td class="p-3 text-[#0C8040] font-medium">{{(calculateSum(bonSortie?.data, 'montant_ht') ) || 0}} Dhs</td>
                    <td class="p-3 text-[#0C8040] font-medium">{{(calculateSum(bonSortie?.data, 'tva') ) || 0}} Dhs</td>
                    <td class="p-3 text-[#0C8040] font-medium">{{(calculateSum(bonSortie?.data, 'montant_ttc') ) || 0}} Dhs</td>
                  </tr>
                </tbody>
              </table>
            </ng-container>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>

  </div>
  <div class="grid grid-cols-2 gap-4 mt-2 mb-2 p-4">
    <div>
      <!-- <button mat-dialog-close
            class="underline w-32 pt-2 mr-3 font-bold text-[18px]">
            Fermer
          </button> -->
    </div>
    <div class="text-right">
      <button (click)="changeStatus()" class="underline w-32 pt-2 mr-3 font-bold text-[18px]">
        Fermer
      </button>
    </div>
  </div>
