::ng-deep .mat-dialog-container{
    padding: 0px;
    overflow: hidden;
}
::ng-deep .mat-dialog-title{
    margin-bottom: 0px;
}
::ng-deep .detail-information.mat-menu-panel{
    margin-left: 130px;
}
:host .mat-dialog-content{
    margin-top: 40px;
}
::ng-deep .mat-form-field-wrapper{
    padding: 0px;
  }
  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex{
    background-color: #fff;
  }
  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline::before{
    display: none !important;
  }
  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-ripple{
    display: none !important;
  }
   /* ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex{
    border: 3px solid #DBDBDB;
    border-radius: 28px !important;
  } */
  /* ::ng-deep .mat-form-field-flex{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  } */
  .input-date{
    border: 3px solid #DBDBDB;
    border-radius: 28px !important;
    padding: 15px;
  }
  .mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
  }
  ::ng-deep .mat-form-field-label-wrapper{
    position: unset !important;
  }
  ::ng-deep .mat-form-field-label{
    position: absolute !important;
    top: -14px !important;
    z-index: 9999;
    background-color: #fff;
    width: 45% !important;
    padding: 0px 10px !important;
    font-size: 11px !important;
    color: grey;
  }
  ::ng-deep .mat-form-field-appearance-fill.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
       transform: inherit !important;
  }