<div
  class="bg-[#fff] shadow-[0px_3px_30px_#00000029] rounded-[20px] ml-6 mr-6 p-6  parametregroupe"
>
  <mat-tab-group class="parametre">
    <mat-tab label="Gestion de parc" disabled >
    </mat-tab>
    <mat-tab label="Couleurs">
      <ng-template matTabContent>
        <app-parametre-colors></app-parametre-colors>
      </ng-template>
    </mat-tab>
    <mat-tab label="Extincteur">
      <ng-template matTabContent
        ><app-extincteur-tab-groupe></app-extincteur-tab-groupe>
      </ng-template>
    </mat-tab>
    <mat-tab label="Paramétrage des véhicules">
      <ng-template matTabContent>
        <app-vehicule-tab-groupe></app-vehicule-tab-groupe>
      </ng-template>
    </mat-tab>
    <mat-tab label="Paramètre GPS">
      <ng-template matTabContent>
        <app-parametre-gps></app-parametre-gps>
      </ng-template>
    </mat-tab>
    <mat-tab label="Fournisseur">
      <ng-template matTabContent>
        <app-parametre-prestataire></app-parametre-prestataire>
      </ng-template>
    </mat-tab>
     </mat-tab-group>
</div>
