<div class="dialog">
    <div
      class="grid grid-cols-3 gap-4 bg-[#E9E9E9] rounded-[12px_12px_0px_0px] p-4"
    >
      <h2 mat-dialog-title class="col-span-2">Intervention N° de requête “
        {{(demande) || '---'}} “</h2>
      <div class="text-right cursor-pointer" mat-button mat-dialog-close>
        <mat-icon>close</mat-icon>
      </div>
    </div>
    <div mat-dialog-content class="dialog-carte">
      <div class="flex justify-center items-center w-5/12 rounded-lg h-14  mx-auto">
      <i-field [type]="'date'" [label]="'Date fin prévue'" [formControl]="dateFin"></i-field>
      </div>
    </div>
    <div class="grid grid-cols-2 gap-4 mt-2 mb-2 p-4">
        <div>
          <button mat-dialog-close
            class="underline w-32 pt-2 mr-3 font-bold text-[18px]">
            Annuler
          </button>
        </div>
        <div class="text-right">
            <button *ngIf="!spinner" (click)="validateDiag()" [disabled]="dateFin.invalid" pButton pRipple type="submit" label="Valider" class="p-button-rounded p-button-success"></button>
            <span *ngIf="spinner">
              <mat-spinner [diameter]="40"></mat-spinner>
            </span>
        </div>
    </div>
