
<div class="dialog">
    <div class="grid grid-cols-3 gap-4 bg-[#E9E9E9] rounded-[12px_12px_0px_0px] p-4" >
      <h2 mat-dialog-title class="col-span-2">{{ form_btn }} un motif de refus</h2>
      <div class="text-right cursor-pointer" mat-button mat-dialog-close>
        <mat-icon>close</mat-icon>
      </div>
    </div>
    <form [formGroup]="motif">
      <!-- <div mat-dialog-content>
        <mat-form-field appearance="fill" class="w-[100%] pl-7 pr-7 px-7 mb-4">
          <mat-label>Type</mat-label>
          <input matInput type="text" formControlName="libelle" autocomplete="off"/>
        </mat-form-field>
      </div> -->
      
      <div mat-dialog-content class="w-[100%] pl-7 pr-7 px-7 mb-4">
        <i-field [type]="'text'" [label]="'Motif'" formControlName="name" ></i-field>
      </div>

      <div class="grid grid-cols-2 gap-4 mt-6 mb-5 p-4">
        <div>
          <button class="underline w-32 p-4 mr-3 font-bold text-[18px]" mat-dialog-close >
            Abondonner
          </button>
        </div>
        <div class="text-right">
          <button [disabled]="motif.invalid" *ngIf="!spinner"
          class="bg-[#0C8040] text-[#fff] border-[#0C8040] rounded-[28px] shadow-[0px_3px_6px_#00000029] w-32 p-4 mr-3 font-bold text-[18px]" 
          (click)="addMotif()">{{ form_btn }}
        </button>
        <span *ngIf="spinner">
          <mat-spinner [diameter]="40"></mat-spinner>
        </span>
        </div>
      </div>
    </form>
  </div>
  
  