::ng-deep .mat-dialog-container{
    padding: 0px;
    overflow: hidden;
}
::ng-deep .mat-dialog-title{
    margin-bottom: 0px;
}
::ng-deep .detail-information.mat-menu-panel{
    margin-left: 130px;
}
:host .mat-dialog-content{
    margin-top: 40px;
}
::ng-deep .dialog-carte{
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    margin-bottom: 1.25rem;
}
::ng-deep .icon-person{
    font-size: 100px;
    width: auto;
}
.select-label {
    position: absolute;
    left: 5px; /* Adjust the value to your desired positioning */
    color: #808080; /* Adjust the color as needed */
    z-index: 1;
    top: -14px;
    background-color: white;
    font-size: 10px;
    width: 60px;
    text-align: center;
  }
  .select-field {
    position: relative;
  }